[2014-04-22 12:53] ncuillery opened #7 "Add an optional property to override the parent state"
In case 2 states (list & detail) are children of the same parent (for example in the [ui-router sample](https://github.com/angular-ui/ui-router/blob/gh-pages/sample/states.js):

[code]

A property is needed on contacts.detail state's configuration to tell the breadcrumb that its parent is the contacts.list

The breadcrumb must be:
`contacts.list / contacts.detail`

[2014-04-22 14:09] ncuillery opened #8 "An abstract state must not be a step in the breadcrumb"
An abstract state must not be a step in the breadcrumb because it can't be accessed.

[2014-04-22 15:00] #8 closed, assigned to ncuillery

[2014-04-28 08:44] #7 closed, assigned to ncuillery

[2014-04-28 14:27] ncuillery opened #9 "Add an optional property to hide a step in the breadcrumb"
A state may not correspond to a step in the breadcrumb. For example : If a state is configured only to open a modal, the breadcrumb in the background must not change ([see here](https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-open-a-dialogmodal-at-a-certain-state)).

A state must have an option to hide it in breadcrumb.

Note : The need is expressed [here](http://sta

[2014-04-28 15:59] RomainLK opened #10 "Breadcrumb is binded on the wrong scope when using nested abstract view"
When using nested view, ui.router will fire several `$viewContentLoaded`.For instance if we have the following state:

[code]

If we access to detail directly, the last event fired will be for the abstract view. This mean that the binding of the breadcrumb is done on the abstract view's scope and not on the child view's scope.

I made a [plunkr](http://plnkr.co/edit/6XoeF1gmlck7ek0gk39P?p=preview)

[2014-05-01 22:01] #10 closed, assigned to nobody

[2014-05-08 15:34] #9 closed, assigned to nobody

[2014-05-12 14:32] manuelmazzuola opened #11 "getStatesChain() raise error"
$breadcrumb.getStatesChain() raise the error below when using ncyBreadcrumbSkip: true on the very first step

[code]

[code]

[2014-05-12 14:49] manuelmazzuola opened #12 "ncyBreadcrumbLabel variable is not populated"
Defining the state

[code]

And a controller

[code]

The result is  "State {{Foo}}"

[2014-05-14 11:21] #12 closed, assigned to nobody

[2014-05-16 07:28] #11 closed, assigned to ncuillery

[2014-05-26 13:22] OnkelTem opened #14 "templateUrl doesn't work"
If I set my own template via $breadcrumbProvider.setOptions({ templateUrl: ... }) then steps are empty, as $rootScope.$on('$viewContentLoaded', function (event) { .. }) never triggered.

[2014-05-26 13:27] OnkelTem opened #15 "No way to use ncyBreadcrumbLabel {{Substitution}} if using named views"
Consider this example:

[code]

substitution doesn't work in such cases and I have no clue how to workaround this.

[2014-05-28 08:05] bastienJS opened #16 "When I change the date in the url the ui state is not changed"
Thats the url: http://ncuillery.github.io/angular-breadcrumb/#/booking/2014-5-23

When I change the date to 2014-5-24 then it should change/reflect in the UI too, but it does not.

To say it in other words I would appreciate a 2-way-databinding of the state :-)

[2014-05-30 17:50] #16 closed, assigned to ncuillery

[2014-06-01 18:54] bastienJS opened #17 "I can change the date in the url to a disabled datapicker day"
Looking at the datepicker I can not click some days because the buttons are disabled by some logic. When I change the url to some disabled dates I can activate these day-states although that should not be possible :-) Thanks for the fix again.

[2014-06-03 18:24] #17 closed, assigned to nobody

[2014-06-05 03:03] puttaplay opened #18 "Allow HTML in ncyBreadcrumbLabel property"
Sorry if this has already been asked, but was wondering how I can display an icon like what follows below:

[code]

When I try the above, it just displays `<i class=\"fa fa-home fa-fw\">Home page` in breadcrumb instead of an icon.

[2014-06-07 16:50] #14 closed, assigned to ncuillery

[2014-06-07 20:50] #18 closed, assigned to ncuillery

[2014-06-10 00:29] BigDubb opened #19 "Can't navigate back after viewing a booking"
- Navigate to booking
- Click on any available date
- New booking gets loaded
- Click on View for new booking
- Modal pops with detail information
- Close modal window
- Navigate back via the browser
- Modal window pops again

I dont know if you can add a property to the directive to tell it which templates to not capture as a state and add to the chain.

[2014-06-13 09:53] mastilver opened #20 "bread crum label doesn't update when the $scope is updated"
see this Plunker: http://plnkr.co/edit/BN0M2vvZccDq1KOKsSfC

Btw: awesome module! :)

[2014-06-15 06:12] guytish opened #21 "nice template shortcut"
for example 'bootstrap3':

[code]

what do you think?

[2014-06-23 11:57] #20 closed, assigned to nobody

[2014-06-23 15:11] #21 closed, assigned to nobody

[2014-06-23 23:09] whitews opened #24 "Breadcrumb URL incorrect: doesn't get the id of the parent"
Hi,

I just started using angular-breadcrumb and have run into an issue where a child route doesn't have the correct URL. The relevant routes:

[code]

When I go to the subject group list, the breadcrumb link back to the parent project looks like:

[code]

when I expected it to look like:

[code]

I'm sure I'm missing something simple, but I've tried all kinds of variations and I'm at a loss as to

[2014-06-24 08:55] #24 closed, assigned to nobody

[2014-06-26 12:16] mastilver opened #25 "moving all the logic into the service"
Hi

What I want to do is to simplify the code of the directive and put all the logic into the directive.
Advantages are:
* easier testing (for the directive, you just have to mock $breadcrumb)
* optimization (as the step are not destroyed and recreated several time during the rendering process)

Some work to do:
* manage the unregistration of the watcher
* update unit test

I have worked on top of

[2014-07-02 18:39] elalchemist opened #26 "Route Parameters Are Lost"
Hello,

Excellent plugin!

However, I cannot use the breadcrumb with routes that have parameters. When I click on a breadcrumb the route has no parameter in it. For example, what was before 'app/levels/1' simply becomes 'app/levels/'. How do I get the breadcrumb to keep the route parameters?

[2014-07-05 05:53] grimurd opened #27 "Nested dynamic states"
I'm trying to get nested dynamic states in my angular app. Here is what my states look like.

[code]

At the moment container.name and category.name are being set in the controller by getting the state params and putting them into the scope.

However when i try to navigate directly to a scenario my breadcrumbs look like this:

Home / / /

When i inspect the HTML behind it, the URLs are correct how

[2014-07-05 11:15] guytish opened #28 "Add 'showAbstractStates' varible to $$options"
It will be very nice to expose this to the configuration.
Abstract states should not be clickable as same as current state.

[2014-07-12 12:25] #26 closed, assigned to nobody

[2014-07-13 09:37] #19 closed, assigned to nobody

[2014-07-13 10:00] #28 closed, assigned to nobody

[2014-07-26 00:32] marcelchastain opened #30 "Multiple route depths specifying 'ncyBreadcrumbSkip: true' get ignored"
Let's say we have nested routes that are 3 levels deep, and the first 2 levels have 'ncyBreadcrumbSkip: true'  :

[code]

The breadcrumbs will ignore 'ncyBreadcrumbSkip: true' for all except the topmost route.

The relevant code is in $$isInherited in $Breadcrumb:

[code]

If the state property value is ever the same as the parent's, it's assumed that it must have been inherited, when that's not a

[2014-08-01 09:03] MBing opened #31 "ncyBreadcrumbLabel {{Substitution}} value lost after refresh"
First of all, thanks a lot for this great plugin!!

I am using this with dynamic values and I encountered a possible issue. This might regard to #15 But I am not sure..

**How it works now**
I give the label a dynamic value, similar like the example below. When I go to a certain state (e.g. `ui-sref='mystate'`) this is working and it shows the dynamic value it got from the controller as supposed t

[2014-08-04 15:44] agustinjlopez opened #32 "Dynamic parent"
I am opening this because I really don't know if it's possible or not. If it is, I think it is not documented. I have a state that can be reached from two different locations and I would like that the breadcrumb let's you go back to the location were you were at that moment.

Is this possible? I have been trying different stuff but could not make it yet.

[2014-08-06 22:12] paulflo150 opened #33 "bindings don't seem to work"
Hi guys,
sorry for creating an issue if this turns out not to be one.

I have a project in which I load everything via requirejs, and I am not able to get the bindings to work (perhaps I am using it the wrong way).

Here is a stripped down version of the project, both views display the breadcrumbs, but they do not seem to see the scope of either controller.

https://github.com/paulflo150/breadcrum

[2014-08-06 23:51] NikolajDL opened #34 "Configure states where breadcrumb is excluded."
Is it feasible to add the possibility of configuring a state to not show the breadcrumb when that state is active?

I have put the breadcrumb directive outside of the ui-view container, so as to not have to insert it in every view, but I do not want it to show up on when I'm in the home state.

Right now I solve it this way `<div data-ncy-breadcrumb ng-hide="$state.includes('home')"></div>`, where

[2014-08-17 14:37] larvanitis opened #35 "Allow explicit abstract state inclusion"
_This is somewhat related to #28 but not the same thing._

In my current project I need to display **some** abstract states in the breadcrumb as simple, non-linked labels.

I have this requirement because the abstract states in question are "page categories" of sorts and they provide necessary context.

To achieve this I modified your code so that:
1. abstract states are included if `state.data.nc

[2014-08-18 12:18] #34 closed, assigned to nobody

[2014-08-19 19:48] carlosCeron opened #36 "ng-Route and $routeProvider"
angular-breadcrumb It's possible use it  with ng-route and $routeProvider ?

[2014-08-19 20:30] #36 closed, assigned to nobody

[2014-08-21 16:03] richardjharris opened #37 "Using breadcrumb to populate page title"
The breadcrumb would be perfect for automatically populating the page title (either from the last fragment, or all fragments joined together for small sites). Is that possible?

[2014-09-03 02:37] muei opened #39 "How to use in file directroy tree?"
dir/1.txt
dir/dir2
dir/dir3/2.txt
...
like this ,use the same `ui-sref`, how to use?
the exmple like this:
html:

[code]

js:

[code]

[2014-09-03 15:52] #39 closed, assigned to nobody

[2014-09-04 17:07] seaneagan opened #40 "Integrate with ngAnimate"
The animation could probably have 2 steps:

* remove all breadcrumbs up to the longest matching substate of the new state
* add the rest of the crumbs for the new state.

[2014-09-08 12:44] emouawad opened #41 "Feature Suggestion"
It would be nice if we could extend this to handle navigation through an infinite recursive state.

ex:
A
  A-a
    A-a-aa
      A-a--aa-aaa
        A-a-aa-aaa-aaaa
          ....
B
 B-a
 B-b

Where each node has children of type node - (Recursion)

[2014-09-23 12:30] zpydee opened #42 "Bound labels don't populate on browser refresh"
I am finding that breadcrumb labels bound to a controller's scope do not rebind on browser refresh.

[2014-09-28 12:15] #41 closed, assigned to nobody

[2014-09-30 10:58] michelem09 opened #43 "Error prefixState unknown"
Hello,
I changed my ui-router config to have global state across my app (header/footer/sidebar), so now I have something like this:

[code]

The `<div ncy-breadcrumb></div>` is on home.client.view.html.

I receive the following error:

[code]

Any ideas?
Thanks

[2014-09-30 11:02] #43 closed, assigned to nobody

[2014-10-02 10:03] Necko75 opened #44 "nested states and viewContentLoaded not called"
Hi,

There is a bug with the function $viewContentLoaded in your directive. I have nested states which are calling the same controller, and the same view template html. In my controller, in terms of the childs states, I apply filters on my template results. So, the state change but not the breadcrumb.

In order to fix it, I have added a listener on $stateChangeSuccess.

[code]

I am not sure how u

[2014-10-03 22:47] praswebdev opened #45 "Dynamically populate the parent name in breadcrumb"
This is not an issue. Just wanted to know if I can dynamically populate the parent name in breadcrumb.
The app.js config is this,

[code]

This works for label but not with parent breadcrumb.
I got two use case,
1. i need to give an empty value for parent state, that is user tried to transition directly to the child state.
2. from a sibling state, he clicked on the product.productdetails and i gav

[2014-10-04 09:05] #45 closed, assigned to nobody

[2014-10-08 15:09] migajek opened #46 "ncyBreadcrumbParent substitution"
Hi, would it be possible to use substitution when providing ncyBreadcrumbParent ?
The "parent" I want to provide has some obligatory url parameter.
I'd like it to have like this:

[code]

[2014-10-12 13:43] #30 closed, assigned to nobody

[2014-10-12 14:02] #32 closed, assigned to nobody

[2014-10-13 08:16] ncuillery opened #47 "Hidding the last step"
Mail received from Luis Gonzalez

---

Hello,

I started using your angular-breadcrumb directive and it works great. After spending a couple of hours on google/stackoverflow and reading your docs I could not figure out how to hide the last breadcrumb.

So for example, in your sample app you have a page at http://ncuillery.github.io/angular-breadcrumb/#/room/1
where the breadcrumb trail is Home/Sam

[2014-10-13 09:36] #47 closed, assigned to nobody

[2014-10-15 19:48] #46 closed, assigned to ncuillery

[2014-10-17 21:27] Wykks opened #48 "stateParams support in custom parent"
_More specific than #32_

It is possible to add param to a parent ?
Let's say I have something like this :

[code]

In order to end up with :
Home > An article > Edit

[2014-10-19 09:33] #48 closed, assigned to nobody

[2014-10-20 15:54] dmackerman opened #49 "URLs incorrect with 1.3"
Seems that `ncyBreadcrumbLink` isn't correct after upgrading. My template:

[code]

https://www.dropbox.com/s/yjuimrv8ch2hbio/Screenshot%202014-10-20%2011.53.52.png?dl=0

[2014-10-21 08:21] #49 closed, assigned to nobody

[2014-10-21 08:35] #15 closed, assigned to nobody

[2014-10-22 10:08] #35 closed, assigned to nobody

[2014-10-27 16:52] ncuillery opened #50 "0.3.0 documentation"
Some features and breaking changes need an update of the [docs](https://github.com/ncuillery/angular-breadcrumb/wiki).
- [x] ncyBreadcrumb object instead of keys in the UI-router's data object
- [x] Both state-level option `ncyBreadcrumb.parent` and global option `prefixState` can be a function
- [x] Both state-level option `ncyBreadcrumb.parent` and global option `prefixState` accept url params
-

[2014-10-27 16:52] #37 closed, assigned to nobody

[2014-10-28 10:58] napcat opened #51 "strange char on ncyBreadcrumbLabel parse"
When I use a special letter like "í" or "õ" on a ncyBreadcrumbLabel a strange char appears on the breadcrumb.

![strange_char](https://cloud.githubusercontent.com/assets/2787343/4807084/9294c9a8-5e90-11e4-98ef-48366c28b37a.png)

.state("newsdetails",
{
      url: "/newsdetails{id}",
      templateUrl: "news/details/views/NewsDetailsView.html",
      data: {
             ncyBreadcrumbLabel: 'notíci

[2014-10-29 14:04] #50 closed, assigned to ncuillery

[2014-10-31 11:27] dotnetwise opened #52 "Add it to npm so it can be easily used with browserify"
Please add it to `npm` as well (`angular` is added to `npm` too) so we can use it with `browserify` and not needing to add `bower`'s overhead

[2014-10-31 12:19] dotnetwise opened #53 "Urls are not generating with #"
Our spa is not `http://website/` but rather `http://website/some/folder`

The breadcrumb urls are not being generated with a `hash` `#`  before:
e.g.
`/home`  instead of `#/home`

Obviously this would fail the navigation.

Is there a setting to tweak?

[2014-10-31 16:12] #53 closed, assigned to nobody

[2014-11-03 10:07] #51 closed, assigned to nobody

[2014-11-05 13:52] psi-4ward opened #54 "Why `href` and not `ui-sref`"
What is the reason to use `href` and not `ui-sref` within the templates? Leads to a page-reload for me.

[2014-11-09 21:19] cfpperche opened #55 "TypeError: Cannot set property '$$templates' of undefined"
When I try to access an state

TypeError: Cannot set property '$$templates' of undefined
    at BreadcrumbDirective (http://localhost:9098/scripts/core/utils/breadcrumbs.js:179:20)
    at Object.invoke (http://localhost:9098/bower_components/angular/angular.js:3966:17)
    at http://localhost:9098/bower_components/angular/angular.js:5690:43
    at forEach (http://localhost:9098/bower_components/an

[2014-11-11 15:44] napcat opened #56 "Update label value on another controller"
I'm following your example:

[code]

This works, but lets assume I don't have a controller assigned directly on state.
A view is loaded with it's own controller and service. The service gets data from a webservice, and only then, in the controller, the ncyBreadcrumb.babel can be updated. But I don't know how to reach it.

I added a simple expression:

[code]

and in the controller assigned the sta

[2014-11-15 14:06] #52 closed, assigned to nobody

[2014-11-29 15:18] krikkiteer opened #58 "famous-angular breaks angular-breadcrumb"
Hi there - first of all thanks for the great tool! :+1:

But - there seems to be a conflict with famous-angular.. when both are used angular-breadcrumb stops working.. i can't really figure out why, but i created a plnkr to demonstrate..

the error occurs, after navigating to the second view.. and then consistently.. i have no idea why ;)
maybe you have an idea ?

http://plnkr.co/edit/wClm2JUizgtS

[2014-12-10 21:04] itpr opened #61 "Multiple params the same name"
URL have multiple params with the same name:

?myarray=value1&myarray=value2

I try to pass mulitiple params to parent state:

[code]

Unfortunately, it doesn't work.

[2014-12-11 15:56] dotnetwise opened #62 "Breadcrumb unusable with multiple ui-views"
When you have multiple `ui-views`, the `ncyBreadcrumb.parent` function gets executed for each of the views.
This is not correct, you should be able to specify for what `view`/`controller`/`scope` to get the `parent` and `label` executed against.

How can you do that?

[2014-12-11 16:07] dotnetwise opened #63 "label function support"
It should work exactly the same way as `parent`

[2014-12-11 19:24] ansorensen opened #64 "bread crumb link goes to wrong url"
I'm using angular-breadcrumb with ui state router.  I have anchor with ui-sref="app.page", which becomes href="/page", and it works perfectly, taking me to http://localhost/app/#/page.  However, the breadcrumb for app.page only has href="/page", and it takes me to http://localhost/page, which 404s.

my state provider is

[code]

When I'm on the child page, and click the breadcrumb for app.page (wh

[2014-12-14 19:06] #56 closed, assigned to nobody

[2014-12-16 08:24] #64 closed, assigned to nobody

[2014-12-16 08:59] #55 closed, assigned to nobody

[2014-12-16 09:44] #27 closed, assigned to nobody

[2014-12-18 17:12] jamhall opened #65 "Breadcrumb label translations support"
Hi!

First of all, great module!

It would be nice if this module supported [translations](https://github.com/angular-translate/angular-translate) for the breadcrumbs labels.

It could be passed in as an extra option to enable it:
[code]

What are your thoughts?

I would happily implement it if you'd like... Of course I'd make sure that the dependency for the angular-translate module is optional.

[2014-12-19 16:00] #61 closed, assigned to nobody

[2015-01-05 09:34] psi-4ward commented on #54
Ive updated to

ui-router: 0.2.13
angular: 1.3.8
angular-breadcrumb: 0.3.3

works as expected now without page-reload, thanks

decorating the template is also a easy solution
[code]

[2015-01-05 09:43] ncuillery commented on #54
I keep the issue open (to keep in mind the refactoring of the template).

Please, can you give me your old versions of dependencies ? (I would like to know if there is a general problem with a specific set of versions)

[2015-01-05 09:46] psi-4ward commented on #54
Sorry to say but i dont have the old dep-list. This project was versioned after the update.

[2015-01-07 15:28] jancel commented on #62
+1 It's popped up here too

[2015-01-07 16:04] jancel opened #66 "API Page / Documentation Missing and/or Inaccurate"
On this page: https://github.com/ncuillery/angular-breadcrumb/wiki/API-Reference

This documentation states one thing, and it just doesn't look like compilable javascript. I added it to my code and it doesn't work. I've tried the documented way as well as similar (non-syntax erroring) ways to handle this to no avail.  Any help on how to actually write this out would be great.

There is a statement

[2015-01-08 08:36] ncuillery commented on #66
Maybe you are disturbed by the `[...]`: Of course it's not compilable javascript, it's an [ellipsis](http://en.wikipedia.org/wiki/Ellipsis) for the views definition.

You must include the real views definition here (or a couple controller / view). See the [UI-Router doc](https://github.com/angular-ui/ui-router/wiki) for details.

[2015-01-09 04:04] jancel commented on #66
Okay. I guess you caught me not being specific enough. I'm actually talking about the specific line:

[code]

I'm not disturbed at all. I like your library, but the documentation is off. And personally, the views has nothing to do with ncyBreadcrumb at all, unless I'm mistaken.

[2015-01-09 16:01] SantechDev commented on #63
Ok, after a bit of search, I'm logging line 211, ```parseLabel(viewScope)```, and that runs a few times (more and more times each time I visit the page without reloading if that makes sense...), and on some runs, I get the result from my function but at the end run I do not. So I don't understand.

It goes like so:
Home
Forums:
Home
Forums: myForum
Home
Forums:
Home
Forums:

So I guess that becaus

[2015-01-12 08:13] ncuillery commented on #66
My bad !

I didn't see the mistake with the single quote.

I fix it,

Thanks

[2015-01-12 08:13] #66 closed

[2015-01-19 15:10] dotnetwise opened #67 "Ability to speicify custom url and target"
e.g. `<a href="alabala.com" target="_parent">Home</a>`

[2015-01-21 06:55] maku commented on #42
Had the same issue on reloading a page. Passing $breadcrumb in the run function (like @Stavrakakis suggested) solved the problem.

[2015-01-21 09:38] SantechDev commented on #42
OK, after some more digging, it seems that for me the analysis from @ansorensen was proper. If I check for watchers and only do the check if isAOlderThanB then, the label properly displays.

I've checked the $id from the targetScope and lastViewScope, and the conditions always end up being true. I'm not sure if only relying on that is sufficient. I have no $viewContentLoaded anywhere else in my ap

[2015-01-21 09:57] SantechDev commented on #42
OK, with a bit more digging, it was because I had many ui-view on the same page. My index page looked like this:

[code]

Thing is, this way the last controllers being created were footer and root. Whereas my content comes from the content view (and its associated controller)

I now use ng-include for the footer as I can't move it, and I moved root to the top of the page as it doesn't display anyt

[2015-01-29 16:01] todeia commented on #65
ncuillery. Very good

[2015-02-06 16:10] napcat opened #68 "unrelated dynamic parent problem"
Hello guys,

I'm facing a problem.

I have two states (StateA and StateB) not directly related, but when in the stateB the breadcrumb has to show stateA, and I'm failing to achieve this.

State A and StateB has a stateParam id.
Both states receive dynamic content related to that state.
The breadcrumb has to know the parent state name and it's current id if in stateB.

For that I was using some var

[2015-02-10 14:21] egel commented on #65
I like this version of breadcrums with support of translations (Jade):

    ol.breadcrumb
      li(ng-repeat="step in steps | limitTo:(steps.length-1)")
        a(href="{{step.ncyBreadcrumbLink}}" ng-bind-html="step.ncyBreadcrumbLabel | translate")
      li.active(ng-repeat="step in steps | limitTo:-1")
        span(ng-bind-html="step.ncyBreadcrumbLabel | translate")

[2015-02-10 21:35] epelc opened #69 "Add option for abstract states to be included"
You should be able to include a single abstract state without having to set the global `includeAbstract` bool to true. Ideally if `skip` was set to false on an abstract state it should just work. Right now the only way to include just a single abstract state is to enable the global flag then set `skip:true` on all your other abstract states.

[2015-02-11 14:41] ncuillery commented on #69
If I understand well, you propose to make the `includeAbstract` a state-level option instead of a global one. Am I right ?

It makes sense but it will introduce a breaking change :-/

[2015-02-11 14:43] epelc commented on #69
@ncuillery I think we should add an override for the global `includeAbstract` to states. So if the global one is set to false each state can override it and set it to true.

I'm pretty sure it can be done without breaking things. But it might be more elegant if you could detect `skip:false` on abstract states instead.

[2015-02-12 00:23] keertijoshi opened #70 "ncybreadcrumbLink losing the # when building the link"
I have the latest version of angular, angular ui-router and angular breadcrumb. When i use it on my localhost with port 3000 or 8000 it works fine, however when I test it on an ip like 172.16.142.1 (port 443), the ncybreadcrumbLink loses the # (eg, ncyBreadcrumbLink: "/hyperfilerView/storageClassesView") when it should have been ncyBreadcrumbLink: "#/hyperfilerView/storageClassesView"

I am having

[2015-02-12 01:21] TravisTX opened #71 "Title tag with full state chain"
It would be nice to have a directive which we can use with a title tag, to put the full state chain into the page title.  Something like ncy-breadcrumb-last, except it shows the entire state chain separated by a separator string.

Right now, I'm getting by with a custom bit of code:

[code]

[code]

[2015-02-13 13:13] TheCodeDestroyer opened #72 "State options"
Hey!

I was wondering is there a way that some state options could be passed in?
Example:

[code]

That would be very awesome...

[2015-02-13 14:20] ncuillery commented on #72
Hi,

Does it fit to your needs ?
https://github.com/angular-ui/ui-router/wiki#attach-custom-data-to-state-objects

[2015-02-15 20:22] TheCodeDestroyer commented on #72
Hey!

Sorry for late reply. Regarding the options, I'm not sure if we understood each other,
what I meant by state options was:
Example:
[code]

If we have this config, then this would be passed into $state.go() function or to ui-sref-opts directive.
* [.go() method](http://angular-ui.github.io/ui-router/site/#/api/ui.router.state.$state) - options param
* [ui-sref-opts directive](http://angular-u

[2015-02-16 07:25] TheCodeDestroyer commented on #72
I see in the source that you are actually calling `$state.href()` method, which sadly doesn't have many options.
Is there a particular reason for this method instead of `.go()` or `transitionTo()`?

[2015-02-20 11:48] sturay commented on #63
It is perhaps worth noting that using the above approach, I was only able to output the function after injecting $rootScope into the controller.
    // controller
    $scope.getBreadcrumbLabel = function() {
      // Something with scope here
    }

would become:
    // controller
    $rootScope.getBreadcrumbLabel = function() {
      return $scope.parent.child;
    }

[2015-02-20 13:27] mateusz-c opened #73 "multiple parents refers to the same state with different parameters"
I need to have the breadcrumb like :  HomePage / School / Class / Pupil , where there are only 2 views: for a pupil and the main page. School and Class refers to HomePage but with selected  additional fields and some div showed/hidden. What is the best way to do something like that ? Write 2 additional states only to set ncyBreadcrumbs parent and label or is the better way ?

[2015-02-22 22:18] adamalbrecht commented on #71
+1

Most of the time, my last breadcrumb is something like "Edit" or "Details", which isn't all that helpful in the title tag.

[2015-02-22 22:35] adamalbrecht opened #74 "Configuration Request: Skip By Default"
Rather than using the name of the route as the default breadcrumb, it would be nice to (optionally) just skip any states that aren't explicitly given labels.

[2015-02-23 13:19] thisispaul commented on #62
+1 I think this would solve my current problem of the label not being parsed properly because of the different views.

[2015-02-25 11:51] hanssulo opened #75 "Label does not work on multi- and nested views"
Working with multi- and nested views, turns out breadcrumb fails to display the nested view's label. Despite that, url is correctly parsed.

        .state('booking', {
            url: '/booking',
            views : {
                '' : {
                    templateUrl : 'booking/booking.html'
                },
                        'sidebar@booking' : {
                            templat

[2015-02-25 12:19] hanssulo commented on #75
Seen the mainView workaround, works. Thanks

[2015-02-25 13:00] ncuillery commented on #75
Don't thank me, it's not ready yet :)

Close as dup of #62

[2015-02-25 13:00] #75 closed

[2015-02-26 11:56] stumpdk commented on #54
It is still relevant to implement the use of ui-sref instead of href.
A manual change in the template as suggested by psi-4ward is possible, but only if static content is used.
A dynamic content parent as the example below isn't handled correct:

ncyBreadcrumb: {
    parent: function($scope){ return 'show({id: ' + $scope.itemId+ '})'; },
    label: 'Details'
}

Or am I missing something here?

[2015-03-03 18:03] piernik commented on #72
I also need `stateOptions.reload`.
Here's my situation: https://github.com/angular-ui/ui-router/issues/1791
With `reload: true` I could fix problem in no time.

[2015-03-07 22:48] mbret opened #76 "Breadcrumb display glitch ? (breadcrumb addition)"
Hi I have a problem with the breadcrumb displaying. the breadcrumb of the previous state is cumulated with the new one everytime I switch on a different state. It happens just 1second and let the place to the correct one finally.

[2015-03-07 23:02] mbret commented on #76
Ok it seems that the problem is not really one I said. Now it seems working about the final displaying but everytime I switch on a state, the breadcrumb of the previous state is cumulated with the new one. It happens just 1second and let the place to the correct one.

[2015-03-12 11:38] thisispaul commented on #62
I just had a look at this to try and solve it for myself.

I'm guessing the ideal place to check the `mainView` would be when getting the `$lastViewScope` on `$viewContentLoaded` but I can't see any way tosee what view a scope belongs to.

Any ideas?

[2015-03-19 16:21] Flo-G commented on #73
I think you need the additional states just for the ncyBreadcrumbs. That's what I've had to do.

I run a complex application and I could also use a way to manually insert a breadcrumb in a breadcrumb chain.

I can see there:
https://github.com/ncuillery/angular-breadcrumb/wiki/API-Reference#methods-1
That it is possible to get the states with getStatesChain().
Could we also have a setStatesChain()

[2015-03-19 17:20] Flo-G commented on #63
I would also see the use for having a function for label.
function($scope, $state)
Maybe the function could return a promise that would be waited on before displaying.

Basically, I've got states that have have a parent state with a dynamic label.
And I would like for there to be a way to handle that.

Home > user name > current state

"user name" would be a state such as "site.user({id: 12})", an

[2015-03-19 17:27] Flo-G commented on #63
I guess ideally, I would like to have a breadCrumb builder like:

.state('site.users', {
  url: '/users/{id:[0-9]+}',
  templateUrl: 'users.html',
  controller: 'UsersController',
  ncyBreadcrumb: {
        builder: function($injector, $state) {
            var someService = $injector.get('someService');
            var $q = $injector.get('$q');
            var deferred = $q.defer();

[2015-03-21 22:03] ncuillery commented on #69
I close this issue in favor of a good PR here: #78

It covers your needs. Feel free to reopen if I'm wrong.

[2015-03-21 22:35] ncuillery commented on #67
I can be so specific in the module API. I prefer letting you use a custom template and keeping the API clear.

[2015-03-21 22:35] #67 closed

[2015-03-21 22:54] ncuillery commented on #68
Sorry for the late answer. I think I understood your problem. The situation is a bit tricky and the module had never been tested to doing this... (load previous step asynchronously :scream: ).

I'll examined that I get time. You can facilitate the debug by making a plunker reproducing the bug (Clone [this one](http://plnkr.co/edit/O8oOgnvcJ57k97f1fWRW)).

[2015-03-21 23:03] ncuillery commented on #70
Hi, sorry for the late answer. I lack time.

The values of hrefs are directly generated from the method `$state.href()`, the same used by the `ui-sref` directive. Please can you try to generate a link with the ui-router's `ui-sref` directive (totally outside of the breadcrumb) and tell me if it's working ?

Which versions of angular / ui-router / angular-breadcrumb do you use ?

[2015-03-21 23:05] #69 closed

[2015-03-21 23:17] ncuillery commented on #74
I'm not very kind of this behaviour. I will be confusing for users to not see a step in breadcrumb (is it abstract ? is the parent step overrided ? Oh no I forgot the name...).

I recognize it could be useful. For example if the breadcrumb must display only the first step like:
- Home > Rooms
- Home > Booking
Further steps inside 'Rooms' step are never displayed.
It could be done easily with such

[2015-03-21 23:26] ncuillery commented on #71
:+1:

We can add a new directive (`ncyBreadcrumbText`) rendering the state chain as plain text.

The separator (default: ` / `) must be a directive option. Usage could be:
`<title ncy-breadcrumb-text=">"></title>`

[2015-03-21 23:32] ncuillery commented on #65
@jamhall I'm not very kind of this option. I prefer keep the API simple and let users making a custom template.

I think I'll make a FAQ wiki page. I keep the issue open to remember to add an entry for angular-translate integration.

[2015-03-21 23:40] ncuillery commented on #25
Still waiting for the PR :wink:

The project has moved a lot since nearly one year. And the issue is maybe unnecessary now.

I closed the issue. Feel free to reopen and comment the actual master if you have time.

[2015-03-21 23:40] #25 closed

[2015-03-21 23:49] ncuillery commented on #76
Hi, it is a curious and never-seen-before bug.

I need more information like
- versions of angular / ui-router / angular-breadcrumb,
- states configurations,
- ideally a plunker (you can fork [this one](http://plnkr.co/edit/O8oOgnvcJ57k97f1fWRW?p=info))

No error in console ?
It looks like a perf issue. Can you try to add console.log in the module (for example [here](https://github.com/ncuillery/a

[2015-03-21 23:53] ncuillery commented on #31
I hope I answered to your interrogation.

I close the issue. The angular-translate question is tracked [here](https://github.com/ncuillery/angular-breadcrumb/issues/65).

[2015-03-21 23:53] #31 closed

[2015-03-22 11:29] jamhall commented on #65
I'm happy with the solution offered above :-).

Thanks

[2015-03-22 12:46] ncuillery commented on #65
So don't close it please ;-)

[2015-03-22 13:10] shoshRose opened #79 "enhancement request"
Could you support using $routeProvider instead of $stateProvider?

[2015-03-22 13:12] mastilver commented on #25
Hi

Sorry for that, I started working on it but I parked it for a while and now my code is completely out-focus.

Carry on the good work, this project is awesome! ;)

[2015-03-24 14:38] namkn opened #80 "Query Params get carried over to the parent state"
Hi, is there a reason why you need to pass the url params from the current state to the destination (the parent breadcrumb link). Most of the time the url params of this state is not applicable/related to the parent state at all. In my case it'd fail saying the sorting fields (in the current state) are not found in the parent ('s table)

Related code:
conf.ncyBreadcrumbLink = $state.href(ref.state

[2015-03-26 01:57] bautistaaa commented on #63
@Flo-G did you figure out how to get around this with your proposed solution? Having the same issue

[2015-03-26 03:17] bautistaaa commented on #63
this would be helpful, i have multiple controllers using the same state and in order to render their own custom breadcrumbs I have to attach the same function in each controller vs being able to pass in a provider or service

    ncyBreadcrumb:{
        label:  function(myService, $stateParams) {
                      return myService.getLabel($stateParams.id);
                  }
     }

if there

[2015-03-27 11:32] gimox opened #81 "Cannot read property 'abstract' of null"
i receive this error when settings nested view:

[code]

if add <div ncy-breadcrumb></div> in dashboard.home.tmpl.html i receive this error:

[code]

i have try different config but same error...

help!

[2015-03-27 13:21] ncuillery commented on #81
Nothing seems wrong in your config...

Please can you provide the versions of:
- angular
- ui-router
- angular-breadcrumb

It could be helpful if you can reproduce the bug in a plunker too. You can fork [this one](http://plnkr.co/edit/O8oOgnvcJ57k97f1fWRW)

[2015-03-27 13:30] ncuillery commented on #79
No I can't : #36 :smile:

[2015-03-27 13:30] #79 closed

[2015-03-27 13:51] gimox commented on #81
"angular": "~1.3.4",
 "angular-breadcrumb": "~0.3.3",
"angular-ui-router": "~0.2.13",

thanks

[2015-04-04 18:45] TravisTX commented on #71
@ncuillery I'm working on a pr for this.  What about a site prefix or suffix in the title tag?  Do you have any preferred syntax for how the site prefix or suffix gets specified in this custom directive?  examples:
`Sample App: Home / Sample / Rooms / Room 101`
or
`Home / Sample / Rooms / Room 101 - Sample App`

[2015-04-04 18:47] TravisTX commented on #71
Suggested syntax:
`<title ncy-breadcrumb-text="Sample app: {{ncyBreadcrumbLabel}}" nyc-breadcrumb-text-separator=">"></title>`

[2015-04-05 08:59] ncuillery commented on #71
I'm ok for allowing customization of the template. Thanks for the PR, I'll review it very soon !

[2015-04-06 20:25] bautistaaa opened #84 "Breadcrumbs not working in directive"
This may just be a scoping issue but was hoping you had a work around.

Below is my state
    .state('home.metric', {
    url: '/Metric/:metricId'
    controller: 'MyCtrl'
    ncyBreadcrumb: {
        label: '{{getLabel($stateParams.metricId)}}'
    }

Controller:
       .controller('MyCtrl', function($scope) {
               $scope.getLabel = function(id) {
                      return getName(id

[2015-04-09 09:23] tomasz-galazka commented on #81
I came across the same error "Cannot read property 'abstract' of null"
Did you fix it?

[2015-04-09 10:16] gimox commented on #81
no! i can not use the breadcrum until fix it!

[2015-04-13 01:10] shirk3y commented on #63
+1

ng-breadcrumbs seems to support it: https://github.com/ianwalter/ng-breadcrumbs#adding-dynamic-route-labels.

[2015-04-21 15:17] #71 closed

[2015-04-22 06:16] ThomasHambach commented on #76
For me it was an issue with missing CSS styles. See https://docs.angularjs.org/api/ngAnimate for more information.

    /* The starting CSS styles for the enter animation */
    .ng-enter {
      transition:0.5s linear all;
      opacity:0;
    }

    /* The starting CSS styles for the enter animation */
    .ng-enter.ng-enter-active {
      opacity:1;
    }

    .ng-leave {
      opacity:0;
    }

[2015-04-22 07:17] ncuillery commented on #76
@mbret do you use ngAnimate ?

[2015-04-22 07:20] mbret commented on #76
@ncuillery I used it, because when I deactivate it, your plugin works fine. I didn't try the @ThomasHambach fix though.

[2015-04-22 12:34] tlode commented on #81
Could it be that this is just a configuration problem? I've had copied this example from the API Reference

[code]

without having the `home` state. Changing this to some known state has helped fix the problem.

[2015-04-27 21:31] bodagetta opened #87 "ng-include of svg not woring"
I'm able to use SVGs in labels like this

    .state('statename', {
        url; '/myurl',
        ncyBreadcrumb: {
            label: '<img src="/assets/icon.svg' />{{labelText}}'
        }
    })

and all looks well, but I want to be able to style the SVGs, so I need to include them inline.

When I try to use them inline, like this

    .state('statename', {
        url; '/myurl',
        ncyBre

[2015-04-28 18:33] jondthompson commented on #72
Bump. I need this too.

[2015-05-13 15:00] leedavidr commented on #62
+1, I don't have multiple views, but I define a single view in the state's views config object.

I'm not able to read the scope variable in the label.

[2015-05-13 19:00] leedavidr commented on #63
+1

[2015-05-14 11:53] C-E-Rios opened #89 "Label binding lost when using views object's '@' to target root <ui-view>"
Firstly, thanks for a great module.

I have a [plunker](http://plnkr.co/edit/PFuuTDUQBEsv5qk5u2KR?p=preview) which demonstrates my issue.

In my application I don't have a need for nested views, but I do use nested states. Rather than have a bunch of <ui-view> tags in every state's view, I use the view object with '@' to always target the root <ui-view>. The problem is that this approach looses th

[2015-05-14 16:15] ncuillery commented on #76
Related to #40

[2015-05-14 16:22] ncuillery commented on #81
@gimox @tomasz-galazka Did you configure the `breadcrumbProvider` and define an non-existing or abstract state name in the key `prefixStateName` ?

It could happen if you have copied-pasted the example from the API reference, as @tlode suggested.

[2015-05-14 16:33] ncuillery commented on #33
Closed after 6 months of inactivity.

Feel free to reopen if your problem is still current.

[2015-05-14 16:33] #33 closed

[2015-05-16 13:36] ncuillery commented on #80
I can't reproduce the bug, I made a [Plunker](http://plnkr.co/edit/ajC2n4tjOYWIWQpQvDlo?p=preview) with queryparams. Here is my procedure:
- Run the plunker in a separate window (blue button in the right top corner) to see the url in the address bar
- Click on "Element 1", then "Detail"
- The url is `http://run.plnkr.co/Ftqujt7NY7O40wrx/#/element1/detail?myParam=myValue`
- Navigate back to "Elemen

[2015-05-16 13:37] ncuillery commented on #80
(and sorry to let the issue unanswered during a long time)

[2015-05-16 13:55] ncuillery commented on #73
This feature seems very dirty to me. I won't do that.

The ui-router is flexible enough to fit your needs with abstract states and [targeting view](https://github.com/angular-ui/ui-router/wiki/Multiple-Named-Views#view-names---relative-vs-absolute-names).

[2015-05-16 13:55] #73 closed

[2015-05-16 14:09] ncuillery commented on #84
Hi,

I can't see why the `getLabel` is unknown at first.

At first sight, the directive with isolated scope has nothing to do with the problem because labels are evaluated against the controller's scope and I use the [event system](https://github.com/angular-ui/ui-router/wiki#state-change-events) to get it

[2015-05-16 15:11] ncuillery commented on #87
This syntax `<span ng-include="/assets/icon.svg"></span>` doesn't work, in the breadcrumb or not (plain angular template).

You can see it in [this plunker](http://plnkr.co/edit/eSOHqzJNPnICcRUZ4t98?p=preview).
You can see also a working example of SVG in a breadcrumb label (click on "Element 1").

[2015-05-16 15:11] #87 closed

[2015-05-17 08:09] ncuillery commented on #89
Hi, first of all, thanks for the plunker, very helpful for understanding the problem fastly.

As the [doc](https://github.com/ncuillery/angular-breadcrumb/wiki/API-Reference#state-options) says, the labels are always evaluated against the scope of the current state controller.

In case of nested views, the "detail" view is nested into the "element" view, so the scope the "detail" view gets the `id

[2015-05-17 08:09] #89 closed

[2015-05-18 07:30] Flo-G commented on #73
That's indeed what I have used. But it's not any cleaner than allowing direct edit of the breadcrumbs chain. There are some very specific cases, in complicated applications that could use such a feature.

But thanks anyway.

[2015-05-18 08:56] ncuillery opened #90 "Release 0.4.0"
- [x] Push to master
- [x] Push to gh-pages
- [x] Publish to npm
- [x] Update the wiki

[2015-05-18 11:31] C-E-Rios commented on #89
You did thank you so much!

[2015-05-18 16:19] namkn commented on #80
I just edited the plunker. Not sure if it was saved (I hit the "fork" button). Basically I added "?param" to the "element" state's url in script.js and also added ({param: 'asd'}) to the ui-sref link in element.html.
Now when you go back to "Element 1" from the Detail page, you'll see "?param=asd" attached to the end of the element page's url

The temporary fix I did for my app was to remove "|| $

[2015-05-22 09:39] hoigo opened #91 "Hide "home" entry"
Is it possible to hide the "home" entry?

[2015-05-22 11:14] ncuillery commented on #91
Yes :smile:

[2015-05-22 11:14] #91 closed

[2015-05-22 12:30] realityking commented on #90
I just tried to update, my the release is not yet tagged so it's not picked up by bower. Thank you.

[2015-05-22 12:41] ncuillery commented on #90
I forgot the tag ! I should be ok now.

Good catch for the wrong version in CHANGELOG.md, I fixed it (I didn't amend the commit because it's already publish on npm).

[2015-05-22 15:57] realityking commented on #90
Thank you :)

[2015-06-03 13:33] mateutek commented on #42
I am using angular-fulstack generator
when installing ncyBreadcrumb
i added it to the navbar component.
After refresh the {{impex.name}} dissappears

[2015-06-04 19:33] alFReD-NSH commented on #84
I can reproduce this. [Check this plunker](http://plnkr.co/edit/FXy5t3fGITgtHI1AcSr1?p=preview).

I think you register the `$viewContentLoaded` event in [here](https://github.com/ncuillery/angular-breadcrumb/blob/v00.4.0/src/angular-breadcrumb.js#L35) too late, when the controller is already executed.

[2015-06-04 20:14] alFReD-NSH commented on #70
I had this issue, but resolved, when I upgraded my ui-router.

[2015-06-05 14:38] CaptainYouz commented on #42
Hello,
i have the same issue where i refresh the browser.
The solutions mentionned in this topic didn't work for me.
Does anyone found a patch ?

[2015-06-09 07:41] gimox commented on #81
try with default config and check existing state. no work.

[2015-06-12 00:07] hwong668 commented on #68
I think I'm running into the same issue, please check the [plunker](http://plnkr.co/edit/Ij5qdqiKRQ5om8k1rmAX)
The gist of the issue is that any parent label that is not hard coded during state declaration, will not be persisted in the ncyBreadcrumbLabel property.
thank you

[2015-06-12 18:04] przemyslawlis commented on #62
+1

[2015-06-16 10:19] rema7 opened #92 "Can't deploy at http://www.webjars.org/bower"
I've try to deploy your project to http://www.webjars.org/bower by pressing 'Add new Bower WebJar' button and got next message:

Can you create a copy of LICENSE-MIT to meet webjars.org requirements ?

TIA

[2015-06-16 13:09] slakin commented on #62
+1

[2015-06-16 18:51] Sorackb commented on #62
Just did a pull request to solve this issue. #93

[2015-06-17 20:30] idiotstrike opened #94 "Dynamic amount of parents, subcategories"
I'm building simple community boards for my application. I'm encountering a problem right now, that is each forum category can have an unlimited amount of nested subcategories. My URLs would always look like this:

/forums/categories/1/category-slug, no matter which category they belong to, so that's not a problem.

I'd like to generate a dynamic breadcrumb tree based on the depth of a category, p

[2015-06-21 09:01] ncuillery commented on #92
Done !

Thanks for spreading my module :smile:

[2015-06-21 09:01] #92 closed

[2015-06-21 09:31] ncuillery commented on #94
This module is strongly coupled to the ui-router configuration. So the situation is simple: if you have a ui-router's state for each categories and nested subcategories, `angular-breadcrumb` will help you.

The only way to have a dynamic breadcrumb with `angular-breadcrumb` is to have a dynamic tree of ui-router's states (it's tricky but possible I think).

Don't hesitate to ask Stackoverflow, it

[2015-06-21 09:31] #94 closed

[2015-06-24 15:19] goliney commented on #65
@ncuillery I tried custom template like you suggested, but it only works after I move to another state. On initial load my breadcrumbs are not translated. Any suggestions how to fix it?

[2015-06-26 08:45] rema7 commented on #92
you're welcome ! :smile:

[2015-07-01 13:38] bfmehdi opened #95 "Error using ncy-angular-breadcrumb"
If I use **'ncy-angular-breadcrumb'** to add the dependency I get an error
Module **'ncy-angular-breadcrumb'** is not available! You either misspelled the module name or forgot to load it
If I use **ng-breadcrumbs** to add the dependencyI don't get any result when I use *div ncy-breadcrumb></div>*

[2015-07-02 19:31] Zach-Barnes-Volusion opened #96 "Possible to hide all children of certain state?"
I'm not sure if this exists or not, but I would like to hide all child breadcrumbs of a certain state without having to declare ncyBreadcrumb {skip: true}. Is this possible, and if not, could I request this feature?

[2015-07-06 17:57] hwong668 opened #97 "Dynamically load Parent Labels"
This is probably related to #68, I've replied to that thread with a [plunkr] (http://plnkr.co/edit/Ij5qdqiKRQ5om8k1rmAX) but I guess since it has been marked answered previously, it is not alerting contributors.

When I was debugging this locally, I notice ui-router has maintained the previous parent's label, nycbreadcrumb is just not grabbing it and I haven't dig into the breadcrumb code to under

[2015-07-07 17:09] brazorf commented on #62
+1
Any chance to see this pull request merged?

[2015-07-13 15:58] perpetuumstef commented on #96
Yeah, ditto.  We have a use case which is very similar where we don't want to display the breadcrumb on specific states/views, but still need it tracked.  I realize we can do this by watching for the state and simply hiding it, but the use case is quite valid nonetheless.  Hopefully this is something you could include soon.  Cheers!

[2015-07-14 05:07] ionutmandra opened #98 "Memory leak by not clearing $rootScope.$on('$viewContentLoaded') listener"
Hi,

There are 2 or 3 places that use ````$rootScope.$on('$viewContentLoaded')````, wihout actually clearing the listener in scope destroy method. I had a test only for  ````$rootScope.$on('$viewContentLoaded', function () { renderBreadcrumb();});````. Because the rootScope is never destroyed, it keeps it's renderBreadcrumb listener, having some scopes as context variables. So navigating through m

[2015-07-28 20:15] aragao-diego commented on #54
This still **NOT** working?!
[code]

I have the same need!

[2015-07-29 08:44] ncuillery commented on #54
That's because I **DON'T** have time to investigate and fix it. Fortunately, PR are welcome.

[2015-07-29 11:12] aragao-diego commented on #54
Oh i see, make sense. Your work is great!
Keepgoing!

[2015-08-02 06:16] KasraKhosravi commented on #72
Hey @ncuillery, Thanks for the great lib. I also need the state option for breadcrumb since I want to have the reload option. Should I start working on it and send a PR or is it something you are currently working on right now?

[2015-08-02 08:16] ncuillery commented on #72
Hi,

As you can see in history, I lack time to maintain this module. I don't have work in progress. PR are greatly welcome :smile:

[2015-08-03 09:26] c-ice commented on #98
+1

[2015-08-06 19:52] kazinov commented on #42
[This plunker](http://plnkr.co/edit/yeODlzws6gv05tZ7nURd?p=preview) demonstrates the common problem with a footer view.
I created the pull request https://github.com/ncuillery/angular-breadcrumb/pull/99 which suggest the way to solve such a problems.

[2015-08-06 19:53] kazinov commented on #42
[This](http://plnkr.co/edit/yeODlzws6gv05tZ7nURd?p=preview) demonstrates common problem when there is an abstract base state which represents a footer

[2015-08-08 13:02] KasraKhosravi commented on #72
I see ;) Using this library can solve your problems with stateOptions

https://github.com/ravaj-group/angular-ui-breadcrumb

[2015-08-09 13:57] #42 closed

[2015-08-14 13:38] Greyhaven7 commented on #87
I know it's been a while, but the plunker you linked is broken again. It's not displaying any labels, only a couple "/" separators with empty space between them.

[2015-08-14 18:31] douglogsdon commented on #87
The ngSanitize module is required when binding to html within the template:
forked [plunker](http://plnkr.co/edit/2NUJQ5OVznuVZsNXeLP1?p=preview)
AngularJS [ngSanitize](https://docs.angularjs.org/api/ngSanitize)
AngularJS [ngBindHtml](https://docs.angularjs.org/api/ng/directive/ngBindHtml)

[2015-08-18 07:35] zhekaus opened #100 "Why not to put angular-breadcrumb into the Plunker?"
It would be very convenient to try out things...

[2015-08-18 09:46] rkusuma commented on #42
@kazinov so what is the solution? i'm still get this problem.

[2015-08-21 05:41] kiddo13 commented on #54
@aragao-diego It's not working because the state.name is already parsed into state name without params. For example, passing "show({id: 3})" will be parsed as "show" as the step.name.

@ncuillery you could add conf.ncyBreadcrumbState = stateRef; inside $$addStateInChain function.
So, inside the template we could use ui-sref="{{ step.ncyBreadcrumbState }}" instead.

[2015-08-21 06:05] kiddo13 commented on #54
https://github.com/kiddo13/angular-breadcrumb/commit/5c2cabc21985789205aaf74f5caae9ddc07f96b3

[2015-08-21 06:08] kiddo13 commented on #54
I made a Pull Request for this. Hope you can review it.

https://github.com/kiddo13/angular-breadcrumb/commit/5c2cabc21985789205aaf74f5caae9ddc07f96b3

[2015-08-23 17:05] idiotstrike opened #102 "Controller as syntax?"
Is it possible to either set the label from the controller (which in my opinion would be cleaner if the label is dynamic) or define a property to use on the controller itself?

As it is now, from what I can see, the only way to set dynamic label is to use the scope, which I'd like to avoid.

[2015-08-24 17:30] GitYouss commented on #65
Hi there,

I was in the very same case as you did @goliney, I found this on Stack Overflow and it worked like a charm:

http://stackoverflow.com/questions/30292000/gettext-module-in-angularjs-does-does-not-translate-gettextcatalog-getstring-i

Basically (quoted from Stack Overflow):

Anything that goes on the scope shouldn't use gettextCatalog.getString.

Use something like this:

$rootScope.stepT

[2015-08-25 06:54] nguillaumin commented on #84
I'm hitting exactly the same problem. When displaying a page for the first time the events don't fire (presumably because they're registered too late indeed as the directive is processed), but if you navigate back and again it works.

I noticed that because of `grunt serve`, when it was reloading by browser the breadcrumb was missing entries where the label is read from the scope.

Any idea how th

[2015-08-27 02:53] pokaxperia opened #103 "How can override"
Hello, I have a problem with parent key on **ncyBreadcrumb** method. I need change the link "modalities.calculator" by "modalities.type({type: type}), in the state **"modalities.calculator"**, passing a parameter from a previous state, from $rootScope.

 Eg: Please, I need do this:

			.state('modalities.calculator', {
				url: '/calculadora',
				templateUrl: './components/calculator/calculator.h

[2015-08-28 08:04] gdipkf1986 opened #104 "How to manually update label?"
[code]

when transit to **root.cms.section**  the breadcrumb shows **Apps / Sections**, and I will fetch app data from server by **pid**, once data loaded I want update breadcrumb to **<App Name> / Sections**, but there is seems no way to update the breadcrumb label.

May I know how to update the label in my case?

[2015-09-02 08:24] vjanssens commented on #102
+1

[2015-09-02 09:24] vjanssens commented on #102
I think it would be handy to update the breadcrumb through a function in the controller. I've tried everything to pass a variable inside the label but could not get it to work. I originally tried it with the `Controller as vm`-syntax which did not work and afterwards without it and just $scope but that didn't work either.

[2015-09-02 13:54] idiotstrike commented on #102
Nice job with the controller as syntax, I'll have to try it out soon myself.

Though I'd still welcome an ability to change the breadcrumb from the controller itself using some sort of a service, perhaps also affect the whole tree somehow (there is a case where I need to create nested breadcrumbs for forums with unlimited depth of categories), but that's offtopic.

[2015-09-02 19:28] rucustodio commented on #102
I also cannot get this to work when i pass in the var as "vm" to the breadcrumb label. Please help?

[2015-09-04 16:04] kazinov commented on #42
@rkusuma
To solve this issue the property ```ncyBreadcrumbIgnore``` should be set to true on the view controller scope:

[code]
This allows to deal with multiple views related to the same state.

[2015-09-09 02:48] fcristel opened #106 "Force reload"
How can I force a reload of the page when i click on a link from the breadcrumb?

Having for example "Products" and when clicking on one of them, then the breadcrumb gets "Products / Milk", with the possibility to click on "Products" part of the breadcrumb. But when you do so, there is no reloading; just opens from cache.

[2015-09-14 17:15] Squeezya opened #107 "Dynamic breadcrumb with resolve variable"
hi, im not sure if i am doing thos right but o have this state:
.state('main.applications.fase.utilizador.show', {
                url: '/:idUser',
                resolve: {
                    user: ['$state', '$stateParams', 'User',
                        function ($state, $stateParams, User) {
                            return User.getFromDB($stateParams.idUser, {

[2015-09-16 18:57] bartrail commented on #107
+1 - I need custom labels, depending on the received data

[2015-09-17 11:33] #90 closed

[2015-09-17 11:42] ncuillery commented on #95
Hi,

Your question is related to the correct declaration of modules in an angular application. Please read the official doc. Concerning the angular-breadcrumb module part, follow the Getting Started guide [here](https://github.com/ncuillery/angular-breadcrumb/wiki/Getting-started).

Note: don't confound this module with https://github.com/ianwalter/ng-breadcrumbs

[2015-09-17 11:42] #95 closed

[2015-09-17 11:44] ncuillery commented on #96
It could be useful :+1:

[2015-09-17 11:48] ncuillery commented on #70
Closed after 6 months of inactivity

[2015-09-17 11:48] #70 closed

[2015-09-17 11:50] goliney commented on #63
+1 for ability to use `$stateParams` in label, as @bautistaaa suggested

[2015-09-17 11:52] inaccessible commented on #63
+1

[2015-09-17 12:01] ncuillery commented on #68
Copy-paste of #97

Thanks

I had to throw an eye on this.

[2015-09-17 12:05] ncuillery commented on #97
Hi,

The "answered" only serve my purpose to don't let the issuers waiting a response for too long. It has no impact on contributors notifications.

I should have removed this label when you commented #68 :smile:

[2015-09-17 12:06] ncuillery commented on #97
I report your message in #68. I close this one.

[2015-09-17 12:06] #97 closed

[2015-09-17 12:09] ncuillery commented on #98
Thanks for the report and the fix suggestion.

[2015-09-17 12:30] ncuillery commented on #100
Hi,

I updated the dependencies of the existing one:

http://plnkr.co/edit/O8oOgnvcJ57k97f1fWRW

[2015-09-17 12:30] #100 closed

[2015-09-25 08:34] vjanssens commented on #104
I've found out it's possible through the $state object in your controller.

[code]

[2015-09-25 08:40] vjanssens commented on #107
This should be possible by setting `{{ vm.user.id }}` as the label. Unfortunately, in my case, this does not work when you refresh the page through you browser. The label will remain empty (this seems like a bug but I haven't reproduced this in a plunkr). So this will only work when you click from another page to /:idUser page.

Another possibility is to update the label in your controller, by doi

[2015-09-26 11:41] samundrak opened #109 "Disable clicking on particular state on breadcrumb"
How can i disable click on particular state like
Home / Contact /Email
Here i want to disabled clicking on Home only Contact and email will be can be clicked

[2015-10-06 13:55] abraham-fox commented on #109
Hello, samundrak.
You can mark "Home" step as abstract and force angular-breadcrumb to show it (if you have not already using global option "includeAbstract"):

[code]

so control will render your step using `<span/>` instead of `<a/>`.

Or you can create your own HTML template by simply copying it from angular-breadcrumb.js file - line 185 for bootstrap2 or 192 for bootstrap3. And then provide yo

[2015-10-12 03:55] iamryandrake opened #110 "Dropdown within the breadcrumbs?"
Hi there,

I'd like to be able to add a dropdown within the breadcrumbs, is that possible?

So for example, in this screenshot, I'd like to click on Brand and display a dropdown, which would then allow me to dynamically switch the options?

<img width="306" alt="screen shot 2015-10-12 at 1 25 11 pm" src="https://cloud.githubusercontent.com/assets/3394807/10421283/c91dc252-70e8-11e5-981a-8b5ede6f3a

[2015-10-16 16:14] gdipkf1986 commented on #104
thanks @vjanssens, but i need update parent state label as the scenario.

Anyway I have updated design and implemented similar breadcrumb function myself.

[2015-10-28 15:31] go4varuntyagi commented on #107
@vjanssens : Even $state.current.ncyBreadcrumb.label is also behaving similarly. It do not change the label first time but when you come second time on the same page.

Any one able to get this fixed??

[2015-11-13 01:38] JustinLien opened #111 "Question: Is there an option to display entire breadcrumb from root page"
E.g.:

![image](https://cloud.githubusercontent.com/assets/688800/11136389/f3bbe114-8962-11e5-8e59-7605c654ec3e.png)

Starting at home the entire breadcrumb is grey out, will become clickable when moving to Sample.

[2015-11-13 10:47] ncuillery commented on #111
I suppose it's possible (but ugly) by using an [inline custom template](https://github.com/ncuillery/angular-breadcrumb/wiki/Templating#custom-template).

You can configure the custom template in the same `.config` of your routes definition. Then, you have to include an array of your states in a `ngInit` and use it to render a string or a link.

I think I got something here:

http://plnkr.co/edit/

[2015-11-13 10:48] #111 closed

[2015-11-25 22:00] swichers opened #112 "Dynamic breadcrumb labels are empty on page reload"
I have a page that lists locations with the ability to click on a location to see details. The breadcrumbs work fine when clicking on an item from the list (`Home > Locations > State > City > Location name`).

The problem is if you're on a location detail page and reload the page in your browser then the dynamic labels in the breadcrumb are empty (`Home > Locations > > >`). The details page displa

[2015-11-27 12:37] bohrasankalp opened #113 "Callback on Labels & Parents"
I am using multiple urls for single state. I wish to change Labels according to URL.
eg.
.state('extra', {
                url: '/extra/{type:[a-zA-z]{0,10}}',
                templateUrl: 'views/extra/list.html',
                controller: 'ExtraController',
                ncyBreadcrumb: {label: 'Extra Table Listing'},
                data: {authenticatedRoute: true}
            })

I have thre

[2015-12-01 20:56] ismatkurt commented on #112
I got the same issue. I'm not so good at angular just a beginner but I searched component codes slightly. Maybe the reason is behind a few lines of those codes:

    var parseLabel = $interpolate(step.ncyBreadcrumb.label);
    step.ncyBreadcrumbLabel = step.ncyBreadcrumb.label;

Can any expert examine those lines please?

[2015-12-02 09:44] ismatkurt commented on #107
As I mentioned [here](https://github.com/ncuillery/angular-breadcrumb/issues/112#issuecomment-161093228) probably the reason is related to $interpolate.

Is there anyone that has figured out the solution. I'm trying a few things but couldn't find any solution yet.

[2015-12-02 13:42] ismatkurt commented on #112
If you use $rootScope instead of $scope at controller it will work. But i'm not sure its the right way?

      $rootScope.foo = 'test';

will be work perfect at:

    ncyBreadcrumb: {
        label: '{{foo}}',
        parent: 'myparent'
    },

[2015-12-03 15:36] OnkelTem opened #114 "How to run tests?"
@ncuillery
Would you provide some guidelines on running tests?
Currently testing just doesn't work: node v.0.12.7, npm 3.3.5

After I managed to install karma and jasmine with dependencies (there was a bunch of UNMET PEER DEPENDENCY error messages) and ran the tests (finally), I got loads of error messags:

[code]

[2015-12-05 14:14] ncuillery commented on #114
npm 3 is a clue, I suppose. I had to make the build working with recent node & npm version.

[2015-12-07 14:47] arunkjn opened #116 "Does not work with sticky states"
Hi ,

I have a parent state and a few 'sticky' child states. The breadcrumbs run fine for each state once, but fail to update thereon as the state is already active and is just displayed

[2015-12-10 07:22] praveenpenjarla opened #117 "Add external url for the prefix state"

[2015-12-10 07:23] praveenpenjarla commented on #117
Could you please let me how can we add the external url for the prefix state

[2015-12-18 15:37] cgeo7 opened #120 "Issue when parent breadcrumb has a custom label"
I have the route below which basically is has the following setup

    forum/create
    forum/{forumId}/edit
    forum/{forumId}/topics/create
    forum/{forumId}/topics/{topicId}
    forum/{forumId}/topics/{topicId}/edit

If I leave everything default, with no custom labels everything works as expected. However if in the state main.forum.topics.create I use a custom label like in the example, the

[2015-12-23 21:01] ncuillery commented on #62
I thought this issue has been automatically closed by 934c5523208a9615d7cfa3abcb397bbe131332ac but I hasn't :smile:

[2015-12-23 21:32] ncuillery commented on #62
I reopen the issue to remind myself I must mention the `ncyBreadcrumbIgnore` in [docs](https://github.com/ncuillery/angular-breadcrumb/wiki) (a new entry "FAQ" I think)

[2015-12-23 21:38] ncuillery commented on #63
Related to #105

[2015-12-23 23:12] ncuillery commented on #58
Hi, sorry for the one-year delay :hushed: .

Is the problem still here ? I know nothing about famous-angular, is it still in use ? (the [README.md](https://github.com/Famous/famous-angular) starts with "This integration library is no longer supported by Famo.us"...

The plunker is no longer working.

I close this issue and the associated PR. Feel free to reopen you still need a fix.

[2015-12-23 23:12] #58 closed

[2016-01-04 14:35] kanbara commented on #116
+1 I have the same issue.

[2016-01-04 15:05] ncuillery commented on #116
I don't understand the situation, please can you develop ? (an example)

What do you mean by "sticky state" ?

[2016-01-04 15:12] kanbara commented on #116
When using [sticky-state](http://christopherthielen.github.io/ui-router-extras/#/sticky) from ui-router-extras switching between tabs that are both "sticky" the breadcrumb doesn't change, because the views persist.

I suspect it's an issue with ui-router, but I'm not sure what the fix would be.

[2016-01-04 15:36] ncuillery commented on #116
Oooops ok thanks :smile:

I'll dig into that.

[2016-01-04 22:03] PatrikTes opened #121 "Parent Link wrong set..."
Hi, I have problems having the right parent link.

router is :
for Child (vendor)
            .state('edit vendor', {
                url: '/vendor/:vendorId/edit',
                templateUrl: 'vendor/views/edit.html',
                ncyBreadcrumb: {
                    label: '{{vendorCompany}}',
                    parent: 'portal by id'
                }
            })

for the Parent (portal

[2016-01-05 18:53] PatrikTes commented on #104
Can you disclose your breadcrumb function? I'm struggling at the moment with more/less same issue : parent link is not updated, after refresh all parent captions lost :(

[2016-01-07 06:20] arunkjn commented on #116
I think if updating the breadcrumbs relies on state active event, that might be the issue because state doesnt change when switching between multiple 'active' states which are sticky

[2016-01-08 04:46] spupett opened #122 "Breadcrumb only"
Is it possible to use this for the breadcrumbs only?  I've been having a heck of a time using this in a SPA, but I've finally gotten the $stateProvider working, it seems.  I tried using the $breadcrumbProvider without a template(Url) and that didn't work.  I tried giving it '/' and '', but that didn't work either.  I don't need the template, I just want the url parsed, and modified to form a bread

[2016-01-11 19:37] #122 closed

[2016-01-21 03:57] jlmitch5 commented on #106
@fcristel did you ever figure this out?

[2016-01-21 04:17] jlmitch5 commented on #106
I figured out a workaround.

For the parent parameter, you can use a function that has access to `$scope`.  You can thus do a `$scope.$emit`, and thus, you can handle that in your controller using a `$scope.$on` and then reload what you need.

[2016-01-21 07:46] gdipkf1986 commented on #104
@PatrikTes Sorry for late reply. I just manually maintain breadcrumb myself, not use this component.

[2016-01-21 07:58] PatrikTes commented on #104
@gdipkf1986 No problem. To same conclusion I have come myself also : I have stopped using this component.

[2016-01-22 00:11] freethejazz opened #123 "No way to customize ncy-breadcrumb-last"
I noticed this when attempting to enable a custom template that binds html, like the example in the documentation. When using the `ncy-breadcrumb-last` directive, the label shows all of the escaped markup because the directive is hard-coded to use `'{{ncyBreadcrumbLabel}}'` (https://github.com/ncuillery/angular-breadcrumb/blob/master/src/angular-breadcrumb.js#L242). This greatly limits the ability

[2016-01-22 20:01] freethejazz commented on #123
I think the simplest approach for dealing with this is to implement options for `lastTemplate` and `lastTemplateUrl` that work similar to the way `template` and `templateUrl` work now. I'd be happy to take a cut at this if that approach seems reasonable.

[2016-01-25 14:50] tuempeltaucher commented on #102
I modified the code and its pretty easy to add a "setLastStepLabel" function.

            setLastStepLabel: function(label) {
                $state.$current.self.ncyBreadcrumbLabel = label;
            },

after the getLastStep function

in my controller:
$breadcrumb.setLastStepLabel("lkjasdlkfjalksdjf");

I hope that there is a better solution in angular 2.0

[2016-01-25 15:58] tuempeltaucher commented on #102
I found a "better" solution. The problem is that ncy-angular-breadcrumb does not get the correct scope, the scope-guessing-code is broken. I added a new function to set the desired scope.

after the getLastStep function:
            setLastViewScope: function(scope) {
                $lastViewScope = scope;
            }

Controller.js:
var vm = this;
$breadcrumb.setLastViewScope($scope);
[...]
vm

[2016-01-25 16:05] maxoizs commented on #112
I hacked this by adding a scope variable to the breadcrump called it `pageLabel`
and at the template I evaluate ` pageLabel  || step.ncyBreadcrumbLabel `
Then I'll pass it from the current page, but it only works for the current page and that's fine with me

[2016-01-25 16:45] ncuillery commented on #106
A less tricky solution could be using the `reload` option of the [ui-sref-opts](http://angular-ui.github.io/ui-router/site/#/api/ui.router.state.directive:ui-sref) directive.

You can define a [custom template](https://github.com/ncuillery/angular-breadcrumb/wiki/Templating#custom-template) to use this directive in `ncyBreadcrumb`.

[2016-01-25 16:45] #106 closed

[2016-01-25 17:03] ncuillery commented on #123
Hi,

You are right, `ncyBreadcrumbLast` is less flexible than `ncyBreadcrumb` and I can't find workaround for this case.

Your approach seems legit to me :+1:

[2016-01-25 17:04] ncuillery commented on #123
Ooops miss click

[2016-01-25 17:11] freethejazz commented on #123
Great! I'll throw a PR your way in the next few days

[2016-01-25 17:21] ncuillery commented on #117
Hi,

I suggest not using the prefix state and defining a [custom template](https://github.com/ncuillery/angular-breadcrumb/wiki/Templating#custom-template) where you can specify whatever you want at the beginning of the breadcrumb.

[2016-01-25 17:21] #117 closed

[2016-01-25 17:27] ncuillery commented on #109
I couldn't give a better answer than @abraham-fox :smile:

[2016-01-25 17:27] #109 closed

[2016-01-28 16:06] freethejazz commented on #123
Haven't forgotten about this. #114 complicates this issue a bit, so I may knock that one out first.

[2016-01-28 20:22] dhintze opened #124 "Crumb is not being update with state changes"
I'm using angular 1.3.16, ui-router 0.2.13, and breadcrumb 0.4.1.  I've followed the getting started steps.  The breadcrumb only ever shows the current page.  When debugging, the chain is always empty.  I'm changing states with both $state.go and ui-sref, neither seem to update the breadcrumb chain.

Feel like I'm missing something simple here... would love to use this!

[2016-01-30 15:22] 1nfinite opened #125 "Translating angular breadcrumb last"
I understand that the ncy-breadcrumb can be translated using angular translate with custom template. However, I could not find a way to translate ncy-breadcrumb-last from the documentation.

`<span ncy-breadcrumb-last></span>`

[2016-01-30 15:38] 1nfinite opened #126 "Flickering in breadcrumb displaying"
Not sure whether i miss out something during configuration. But it seems that the breadcrumb display do flicker when navigation of same hierarchy. But ultimately, the breadcrumb display the correct label at the end.

For example,
Switching from Register to Login page and vice versa.
Switch from Register to Login:
Home/Register -> Home/Login/Register (flicker 1 second) -> Home/Login

Switch from Lo

[2016-02-01 04:13] 1nfinite commented on #126
Confirm issue with nganimate. Remove nganimate or do css tweaking can resolve the issue.

[2016-02-01 04:13] #126 closed

[2016-02-01 18:20] tanaji-bhale commented on #80
Hi,

How to pass params to State when we click on intermediate parent links in breadcrumb..?

[2016-02-01 18:57] tanaji-bhale commented on #80
I can go to that state by using this - $state.go('root.state1', {objId: obj.objId,objText: obj.text}); , But not able to go that state when we click on intermediate parent links in breadcrumb, due to state level config does not allow us to pass state param...

I configured state label like this -

  $stateProvider.state('root.state1', {
	      url: "/state1",
	      templateUrl: "/root/state1.html

[2016-02-01 20:24] freethejazz commented on #125
@1nfinite: I'm working on a fix for #123, which will allow you to use a custom template for `ncy-breadcrumb-last`. You'll see in the comments there that I'm in a bit of a yak shave, but hope to surface soon and address the original issue.

[2016-02-04 09:50] ram-reddy opened #129 "Hyperlink of breadcrump is incorrect"
Hi,
when the Single page app is deployed in a path like http://spa.abc.com/app/#states

then the breadcrumps referring http://spa.abc.com/#states .

[2016-02-09 01:50] patricknazar commented on #42
@Stavrakakis 's solution worked for me but @kazinov 's did not.

[2016-02-12 07:55] sebastienvermeille commented on #44
@ncuillery @geobourazanas
Excuse me I encounter the same problem.

It is something fixed now ?
I tried to use :

[code]

but it doesn't know the method "renderBreadcrumb();" do I have to edit the directive directly ???

Thank you for your tips :)

[2016-02-12 08:01] sebastienvermeille commented on #124
Hi @dhintze  I have the same problem if I refresh the page (F5) the breadcrumb is correct but otherwise not.

Could someone help us ?

[2016-02-15 13:17] ram-reddy commented on #129
Thi can be fixed by adding the base  like

`<base  href="/app/" /> `

[2016-02-15 13:17] #129 closed

[2016-02-15 13:20] ram-reddy commented on #110
Yes by using the custom template You can achieve the same.

[2016-02-18 09:31] cesiya23 opened #130 "Should I put the intact template into my html code or just <div ncy-breadcrumb></div>"
first time to use this great module. thanks to ncuillery!

maybe quite silly... I wonder should I put the intact template into my html code like this below:

`<ol class="breadcrumb">
	<li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract">
		<a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel | translate}}</a>
		<span ng-swit

[2016-02-19 13:19] MatanYed opened #131 "Page preview as link and span (together)"
Video to preview:
https://drive.google.com/file/d/0B_2AM8ZhXhE9U2ZOT01vUUpldVk/view?usp=sharing

Dashboard is link and span in the same time. it's not looking good. It's have a delay until it fixed.

Code:
Routes:
[code]
Breadcrumb template:
[code]

The `label` is working with `translate` directive (as you can see in the template)

Any idea what is the source of the problem? how to fix it?

[2016-02-22 00:27] MatanYed commented on #131
The problem is found - it happened because I had ngAnimate module in app.js.
`angular.module('app', ['ngAnimate']);`
When I changed it to:
`angular.module('app', []);`
The problem just solved. I don't know why. It's still an issue...

[2016-02-24 09:41] jdriesen opened #132 "Extra '/' when using bootstrap 3.3.6 css"
Hi Sir,
First of all, thanks for this GREAT tool !
I found a small issue... It seems that an extra '/' is generated when using the latest version of bootstrap.css....

You're using v2.3.2 of bootstrap.css
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">

When I change this to v3.3.6
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/boo

[2016-02-24 09:58] jdriesen commented on #132
Problem solved...
My bad ... SORRY ...
Solution: just change 'bootstrap2' into 'bootstrap3' in the line below ...

.config(function($breadcrumbProvider) {
    $breadcrumbProvider.setOptions({
      prefixStateName: 'home',
      template: 'bootstrap2'
    });
  })

Once again ... sorry for my stupid question...
Johnny

[2016-02-26 14:41] sebastienvermeille commented on #131
I confirm this bug happend. We don't have ngAnimate on our project. Maybe this come with ngMaterial too ?

Would be nice if someone has found a fix thanks in advance

[2016-02-26 14:42] MatanYed commented on #131
@sebastienvermeille I don't use ngMaterial, only ngAnimate

[2016-02-26 14:45] sebastienvermeille commented on #131
@MatanYed and I don't use ngAnimate and it still doesn't works

[2016-02-29 02:03] freethejazz commented on #125
@1nfinite I've got a PR open for creating a template for this, but I discovered an undocumented way of doing this when writing tests for the new functionality. You simply set a value to the ncyBreadcrumbLast directive and that value gets used for the template:

```<span ncy-breadcrumb-last="{{ncyBreadcrumbLabel | translate}}"></span>```

[2016-03-01 15:22] freethejazz commented on #132
:D glad you were able to resolve it on your own! Can you close the issue since you were able to resolve it in your code?

[2016-03-01 15:41] ncuillery commented on #132
Hi guys,

Sorry I don't have time to maintain this repo as much as I would like.

Bootstrap 3 has just been released when I created this module, so I set the Bootstrap 2 template as default. But nowadays, Bootstrap 3 is widely used, so it must be the default.

 I suggest to leave this issue open to keep that in mind.

[2016-03-01 15:58] freethejazz commented on #132
Hey @ncuillery, it looks like bootstrap3 is already the default: https://github.com/ncuillery/angular-breadcrumb/blob/master/src/angular-breadcrumb.js#L21

[2016-03-01 16:04] ncuillery commented on #132
Oh my bad :smile:

[2016-03-01 16:04] #132 closed

[2016-03-01 16:05] ronaldheft commented on #98
I was burned pretty badly in my application due to this memory leak. The root cause is actually multiple event listeners get registered on every $stateChange, and then the memory is never released in addition to firing the function an additional time for every $stateChange.

I resolved this in #134 by deregistering the listener when the same listener is registered again using a simple tagging meth

[2016-03-01 16:06] jdriesen commented on #132
Well, I picked up the code from a Plunkr somewhere somehow …, and that’s why I encountered that issue…

Grtz,

Johnny

From: Jonathan Freeman [mailto:notifications@github.com]
Sent: Tuesday, March 1, 2016 16:58
To: ncuillery/angular-breadcrumb
Cc: Johnny Driesen
Subject: Re: [angular-breadcrumb] Extra '/' when using bootstrap 3.3.6 css (#132)

Hey @ncuillery <https://github.com/ncuillery> , it loo

[2016-03-02 00:48] freethejazz opened #135 "Tests fail on angular 1.5.0"
When running `shell:testLatest`, which now pulls angular 1.5.0, 65 of the 71 tests fail due to `TypeError: 'undefined' is not an object (evaluating 'Function.prototype.bind.apply')`.

Below is a sample stack-trace from one of the failing tests:

[code]

[2016-03-02 00:59] freethejazz commented on #135
Looks like this is due to an old PhantomJS version: https://github.com/angular/angular.js/issues/13794

[2016-03-02 01:20] freethejazz commented on #135
I can get this to work for angular 1.5, but it's causing the 1.0.6 tests to fail.

[2016-03-02 01:40] freethejazz commented on #135
The failure message I"m getting is:
[code]

[2016-03-02 14:29] ncuillery commented on #135
Hi,

Unfortunately, I won't have time to maintain the tests until 1 week ou 2.

If 1.0.6 compatibility is the only issue, I am willing to drop support of angular 1.0.x / 1.1.x (I would have to remove some legacy code though).

[2016-03-02 17:38] viktor-hunko commented on #84
Hey guys,
I faced with the same situation and all I had to do it's just inject `$breadcrumb` to my directive.
 [Check this plunker.](http://plnkr.co/edit/tlCGmPKHytrG6V0HUW8n?p=preview)

[2016-03-08 15:18] devakone commented on #102
A simpler way is also to
` $scope.$emit('$viewContentLoaded');`
in your controller once you know for sure your page has loaded, in your `activate()` function for example. Outside of messing with the source code, the only time the `$lastViewScope` variable is updated is when that event is fired. Best case scenario moving forward though would be adding the `$setLasViewScope` function to the `$breadc

[2016-03-16 12:59] nbasov commented on #112
Here is an old issue about this problem https://github.com/ncuillery/angular-breadcrumb/issues/42
Solved by injecting $breadcrumb into application .run method.

[2016-03-16 12:59] nbasov commented on #107
Here is an old issue about this problem https://github.com/ncuillery/angular-breadcrumb/issues/42
Solved by injecting $breadcrumb into application .run method.

[2016-03-17 09:54] AnirudhaGohokar commented on #54
@ncuillery Is the feature added by @kiddo13 merged with main branch?
Thank You.

[2016-03-29 02:40] lahsrah opened #137 "Dynamic parent label ?"
Say I am on this breadcrumb:

App > Products > Pepsi > Edit

The parent of "Edit"  is the Product "Pepsi".  Except the name "Pepsi" is coming from ProductController's $scope.  Because this $scope doesn't exist on the Edit view, my breadcrumb appears as:   App > Products >  > Edit

[2016-03-30 06:57] ravikiranr26 opened #138 "Can we change the parent stateProvider url"
Hi All,

Looking to change the parent state url to different upon the navigate to child state.

Can i know if its possible ?

Regards,
Ravi

[2016-03-30 13:37] ingikraljevic opened #139 "ncyBreadcrumb - support for dynamic templateUrl"
Hi! I'm currently working on an app that has consist of two submodules (where each module has it's own modules/states) and one of the requirements is that one module should have breadcrumbs displayed in one way, and the other module in another way.

Currently this can't be achieved because the `templateUrl` can be configured only globally via the `$breadcrumb` service.

So it would be great if you

[2016-03-30 23:39] ravikiranr26 commented on #139
Hi,

Can we have the url of the state to be overrided if needed to ?

[2016-03-31 07:26] ingikraljevic commented on #139
Can you give an example or a use case where you would use that?
And I think this isn't related to angular-breadcrumbs, but more of a ui-router "thing".

[2016-03-31 23:30] ravikiranr26 commented on #139
State 1 )
[code]
State 2 )

[code]

In State 2, as I navigate from home > state 1 > state 2. The Url for state 1 would be 'cat123B?name=a&location=mel' when I'm in state 2, so I don't want the query parameters to be attached and want the state 1 url to be cat123B

[2016-04-01 09:46] ingikraljevic commented on #139
You should open a seperate issue for that 'cause it doesn't relate to this issue.

[2016-04-02 13:20] mariohmol commented on #124
same thing here

[2016-04-04 01:24] ravikiranr26 commented on #139
ok sure, thanks. Have already opened.

[2016-04-09 14:24] sebastienvermeille commented on #124
After some researchs it seems it comes from ng-animate. I use angular material (which one use ng-animate...)

[2016-04-09 16:19] mariohmol commented on #124
i'm using angular-material as well.. and getting this error... what u did to fix it?

[2016-04-10 21:32] #135 closed

[2016-04-11 09:32] xuhcc commented on #112
@nbasov
Thanks, it helped.

[2016-04-11 12:30] #123 closed

[2016-04-11 12:30] #125 closed

[2016-04-11 15:30] #98 closed

[2016-04-12 22:23] ncuillery opened #142 "Update templates"
Since I dropped support for Angular 1.0.8 (see https://github.com/ncuillery/angular-breadcrumb/commit/b023c4fcf3f2e830b4afec68d66af67ddd313b28), the build-in templates can now use `ngIf` instead of the ugly `ngSwitch`.

Moreover, as @psi-4ward suggested (#54), templates can use the `uiSref` directive. All tests pass if I do that. But I'm curious to analyse performance implications, I'll to run a J

[2016-04-12 22:25] ncuillery commented on #54
@AnirudhaGohokar Yes :smile:

The fix has been merged (release pretty soon) and I addressed the template enhancement in #142.

[2016-04-12 22:26] #54 closed

[2016-04-12 23:28] ncuillery commented on #40
It goes well with a custom template using the directive [ngAnimateSwap](https://docs.angularjs.org/api/ngAnimate/directive/ngAnimateSwap) :smiley:

http://plnkr.co/edit/rApuGDO3tB7zOJ1oSpAT?p=preview

Let's keep this plunker as reference for further issues / questions about ngAnimate.

[2016-04-12 23:28] #40 closed

[2016-04-12 23:30] ncuillery commented on #76
I close this.

The module seems to work well with ngAnimate. See https://github.com/ncuillery/angular-breadcrumb/issues/40#issuecomment-209148455

[2016-04-12 23:30] #76 closed

[2016-04-13 13:10] cre8 commented on #137
I have the same issue. I set my Label in the ParentController (like you do with "Pespsi"). When I visit the EditContoller the ParentController is never fired, so the label isn't set.

[2016-04-17 20:29] kbrandwijk opened #143 "Add possibility to set prefixStateName on directive"
On certain parts of my site, I want a different 'root' object for my breadcrumbs. Currently, setting prefixStateName is only possible on the global configuration. I would like the ability to override prefixStateName on the directive.

[2016-04-18 23:10] josoroma opened #144 "I was wondering if there is an easy way to add a link/url to the top home state?"
Hi!

I was wondering if there is an easy way to add a link/url to the top home state?

[code]

Thanks in advance!

[2016-04-20 09:44] bodia-uz opened #145 "Common js package manager support"
Could You add common js support?
Examples:

- [angular-ui-router](https://github.com/angular-ui/ui-router/blob/f5fd57860c15e8d4b6b9c26c8ccae504d213c6e4/Gruntfile.js#L45-L47)
- [anguar-cookie](https://github.com/angular/bower-angular-cookies/blob/master/index.js)

Result file should be like:
[code]
Or
[code]

[2016-05-03 17:38] jusopi commented on #80
I get this issue when navigating to sibling states.

**abstract parent state:**

    $stateProvider.state 'nx', state =
        abstract: true
        url: ''
        template: '<ui-view></ui-view>'
        params:
            client: undefined
            project: undefined
            d_type: undefined
            d_id: undefined

**list state:**

     $stateProvider.state 'findings-list' state

[2016-05-04 10:12] sebastienvermeille commented on #124
@mariohmol we don't have any fix for now...

[2016-05-10 04:11] Skahrz commented on #144
Where should this link redirects to ?

[2016-05-13 15:19] laguiz commented on #124
Same here with angular-material.

[2016-05-18 19:30] phuyem opened #150 "Dynamic (translating) label"
Is it possible to apply multi languages or like this question earlier :

https://github.com/ncuillery/angular-breadcrumb/issues/137

I tried but could find a way to translate the label....

[2016-05-24 05:46] agam16 opened #151 "Not able to access $rootScope in TemplateUrl"
Hello,
I need to show the header above the breadcrumb & i am setting the header in controller in $rootScope variable But i am not able to access any rootscope variable in template file.
What may be the issue?

[2016-05-26 21:44] josoroma opened #152 "Is it possible to use/parse HTML for the label value?"
Is it possible to use/parse HTML for the label value? For example:

[code]

Thanks in advance!

[2016-05-29 10:36] vchandrol commented on #26
Hi @ncuillery
  if we have search box and if we enter some text and that folder/file exist in ui route than how can we show search path in breadcrumb...could you please provide solution for this.

[2016-05-31 19:23] josoroma opened #153 "Why toParams.ncyBreadcrumbLabel is undefined inside a run block?"
Hi!

I am trying to create/mimic a kind of custom stack for the current breadcrumbs behavior, but I notice that toParams.ncyBreadcrumbLabel is always undefined even if console.log(toParams) displays a value for it.

[code]

Any help would be great!

[2016-06-27 19:45] arielcr commented on #65
Hi there,

Nice solution! I was wondering what about variable replacement in translate filter. I've already tried passing some random text, and it works pretty fine, but what I need is to specify a variable, not some static text, for example:

`<a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel | translate:"{entity:variable}"}}</a>`

I tried accessing a scope var

[2016-06-29 14:13] valentinlamatte opened #154 "Wrong parent link until refresh"
Hi everyone,

The issue I'm facing is the following, I've got a state and his parent like this :

[code]

[code]

labelName, childParam and mainTitle are defined in the scope of the ChildStateController and displayed properly. The issue occurs when I come from the parent state, in the url of the parent in the child breadcrumb the parameter is missing, but only the first time I come on this state,

[2016-07-01 14:36] VierenV commented on #48
Hi there,

I am building your first solution @ncuillery but it doesn't keep the scoped variables in the parents.
What I did
[code]
Here I lose the client.enterprise when I move on detailsSite. Is it the expected behavior ?

[2016-07-12 15:13] haddadr opened #156 "Dynamic label management"
It will be better to have the possibility to manage the value of the label by a function defined in the route config like below:
` ncyBreadcrumb: {`
`          label: function ($scope) {`
 `             if ($scope.suiteNumber){`
`                  return  'suite';`
`              }else{`
`                  return  'room';`
`              }`
`          }, `
`          parent: function ($scope) {`
`

[2016-07-26 16:52] maxhan247 commented on #154
same issue

[2016-07-26 19:02] maxhan247 opened #157 "parent tag not working for params in state"
http://plnkr.co/U8rrmORZiS7xyLBM5wtp

In my plnkr, the "home",  "element" and "detail" are parallel states, and I build parent-child relationship use parent tag. The requirement is the URL shouldn't show any id, so I send the id by params: {idElement: null}.

 But the parent tag seems not work in this case. When I go to detail, I lose params in parent state.

`  $stateProvider.state('home', {

[2016-08-05 19:52] wosevision commented on #153
Hello!

I can confirm the issue @josoroma is experiencing – it seems run blocks are only aware of the pre-resolved param `ncyBreadcrumb` despite `console.log(toState)` being able to see the entire resolved params (such as `ncyBreadcrumbLabel`).

I thought I might be able to mitigate it in a dirty way by using the `$interpolate` service in my run block to parse the label manually, but it doesn't ha

[2016-08-12 14:02] miguelchico commented on #150
Hi,

I used [angular-translate](https://angular-translate.github.io/) to add multi language capabilities to my application and it works perfectly with breadcrumb.

The only limitation is that you have to use the built-in **translate** filter of angular-translate.

For example:
`ncyBreadcrumb: {`
       `label: "{{'item' | translate}}'`
`}`

[2016-08-13 08:36] jksenthilraja commented on #64
I  updated my UI-router to 0.2.13 and my issue was resolved.

[2016-08-22 01:42] wujitouch commented on #154
Change the event it handles the udpate from $viewContentLoaded to $stateChangeSuccess

[2016-08-24 04:42] haxxxton opened #159 "Breadcrumbs not triggering re-render when changing between parent and child states"
I was struggling to figure out why when toggling between child and parent states the breadcrumbs werent updating (they would stay as the page rendered them if deep linking into a child state, or at the parent state if going to a new 'root' state)

My state config looked like:

[code]

in the base template i used the breadcrumb directive
```<div ncy-breadcrumb="ncy-breadcrumb"></div>```

If i deep

[2016-08-24 07:30] CSchulz opened #160 "Doesn't work with Angular 1.5.X"
I have encountered the issue the directive isn't rendered properly (nothing is shown) with Angular 1.5.X. I have tried to debug it and no breakpoint is ever hit.

I have tried to update the bower.json to use a newer Angular version to run the tests against it without success.

I have changed in bower.json the version to **>= 1.5.0**, ran bower install and grunt, but it still uses the old versions:

[2016-08-24 07:32] CSchulz commented on #159
I think there was a similar issue in #154

[2016-08-24 08:30] Nighthawk22 opened #161 "Only parent states"
Hi!

I don't know if it is not implemented or i just did not find it. But i do not have parent and child routes but i want to show the path of the user. How would this be possible?

Thanks
Nighthawk

[2016-08-24 19:31] bencpeters commented on #156
+1

[2016-08-24 23:25] haxxxton commented on #159
@CSchulz good pick up! title of the other issue didnt seem related, but the solution appears the same. Questions still stand, but happy to be merged/marked as duplicate if they can be added to the other issue.

[2016-08-26 08:42] amitgaur208 opened #162 "Recursive State parent is not possible"
I have a hierarchy of categories.
Like: Clothing > Apparel > Printed >Customized etc.
And I have created an state for category Detail like:
  .state('root.categoryDetail', {
                            url: '/categoryDetail/:slug',
                            templateUrl: 'views/products/category-detail.html',
                            controller: 'CategoryDtlCtrl',
                            n

[2016-08-27 19:29] DickSwart opened #163 "hide parent crumb if parent is current."
Hi thanx for this great module, I would like to know if it is possible to not show the breadcrumb if the parent state is the current state?

To explain a bit more, lets say I have a 'Dashboard' state that I will set as _prefixStateName_ so that all breadcrumb will have the Dashboard as the first step. But when I'm on the dashboard I don't want to display any breadcrumb.

Not on dashboard: `Dashboa

[2016-09-02 00:06] stramel commented on #63
Also related to #146

[2016-09-02 11:03] MADavies opened #164 "Directive only shows current state."
Im currently developing with Angular and Angular-Material, using ui.route and states and im having trouble getting the directive to recognise child states so it is only showing the current state name instead of "Home > something > details" for example.

[2016-09-05 11:13] smajl commented on #160
Just to inform you. It *does WORK* with Angular 1.5.X without any problems. So looks like a problem with your implementation. Feel free to post your code in some code playground so we can see where you are making a mistake or close this issue.

[2016-09-05 11:55] CSchulz commented on #160
You are right, it works with Angular 1.5.X. I don't know what was wrong, it works suddenly. There were no errors in the console.

[2016-09-05 11:55] #160 closed

[2016-09-10 22:01] Luddinus commented on #107
@ismatkurt Did you find a solution?

[2016-09-16 08:33] Shyam-Echidna commented on #156
+1

[2016-09-21 03:47] wangel12 opened #165 "there is no asset folder in sample"
i checked sample and there is no folder asset and it's files. The sample is not working

[2016-09-26 05:49] aliraza923 commented on #164
Yes I am also facing the same issue

[2016-09-26 19:35] ozairsajid commented on #164
I'm also facing this issue

[2016-09-26 23:41] brunocoelho opened #166 "Wiki improvements"
Hi @ncuillery, I tried to edit this wiki but I think it's not allowed for non-collaborators.

This is what I want to add just below `State options` as first property:

**force**

Gives the ability to show specific abstract states, even if `options.includeAbstract` is turned off in global configuration.

For example, this state's config:

[code]

... will produce `Home / List / Contact` rather than

[2016-09-27 06:50] sebastienvermeille commented on #156
Do you have a workaround for now ? I would like to display :

users > $username > profile <--- $username is returned from a resolve. It is really a must. Hope someone can implement it.

[2016-09-27 14:11] shirodkarsohan opened #167 "Does "getStatesChain" consider state parameters to add a state to the state chain?"
I have a UI-router state that takes route parameters.
[code]
If I navigate from this state(say browse.category({param1})) to the same state with different state parameters(say browse.category({param2})) , the previous state i.e. browse.category({param1}) is not added to the state chain.

This is evident on printing out the result of $breadcrumb.getStatesChain().

Is there any way to enable it to s

[2016-09-27 19:37] ozairsajid commented on #164
I added parent field along with label under ncyBreadcrumb in the $stateprovider and it started showing the breadcrumb.

[2016-09-28 11:30] tpessegueiro opened #168 "Unexpected behavior, Views are changing automatically."
I have an issue that is happening in both IE and Firefox. On Chrome it is working as expected.

I have the following routing defined:

    var app = angular.module('EmailSPGroupsApp', ["ngRoute"]);
    app.config(function ($routeProvider) {
        $routeProvider
            .when("/GroupsView", {
                templateUrl: "GroupsView.html"
            })
            .when("/EmailsView", {

[2016-09-29 09:11] tpessegueiro commented on #168
So I've discovered the issue, causing this.

the buttons that were triggering the methods nextPage() and prevPage(), were causing a postback.

So the solution was to simply add type="button" in the html and it works

[2016-09-29 09:11] #168 closed

[2016-10-08 13:37] ravimallya commented on #163
Yes. this is what I also wanted to know.

[code]

I wanted to hide the breadcrumbs for `main.home` state.  I've added following HTML to `landing-main.html` template.
[code]

[2016-10-16 07:54] ultralabed commented on #163
Yes, I would kindly want to know if it is possible to 'hide parent crumb if parent is current'? Thanks~!

[2016-11-17 12:38] sebastienvermeille commented on #156
Okay well for now I fixed it... (tricky) like that. Maybe it can help someone for now.

I wanted this feature: **my controller can update the last breadcrumb label dinamically**

1) In my breadcrumb template I setted an id to the last breadcrumb label :
`<span ncy-breadcrumb-last id="breadcrumb-last"></span>`

2) Then in my controller I defined an **updateBreadcrumb** method :
`      function upda

[2016-11-28 15:39] ptitdje45 opened #169 "Direct links & stateParams"
Hi there,

I'm having a little issue with breadcrumb.

` function getStates() {
    return [
    {
      state: 'dashboard.opportunites.opportunite',
      config: {
        url: '/{idOppo:idOppo}',
        views: {
          '@': {
            templateUrl: 'app/opportunites/opportunite/opportunite.html',
            controller: 'OpportuniteController',
            controllerAs: 'vm'
          }

[2016-11-28 15:43] ptitdje45 commented on #169
And when i start from the http://XXXXXXXXX/dev/build/ route, i got my 1611 209 in the breadcrumb. Else it's empty.

[2016-11-28 21:27] josoroma-zz opened #170 "NG1 ES6 components usage"
Hi Hackers!

I was wondering, is there an example using a dynamic label from $scope => using ES6 Classes?

For example:

[code]

I am not able to use `name`, `$ctrl.name` nor `$scope` in the config route for this PoC.

[code]

[code]

Any help is welcome, thanks!

[2016-11-29 07:23] ptitdje45 commented on #159
@haxxxton 'When i changed all references to $stateChangeSuccess this solved the problem.'

How do you do that ? :)

[2016-11-29 08:25] ptitdje45 commented on #169
`angular
    .module('app.main')
    .run(appRun);

  /* @ngInject */
  function appRun(routerHelper, $breadcrumb) {

  }`

**Injecting $breadcrumb** direct in my run solved the problem of refreshing.

[2016-11-29 08:25] #169 closed, assigned to nobody

[2016-11-29 13:43] josoroma-zz commented on #170
More info:

 * https://github.com/AngularClass/NG6-starter/issues/193

[2016-11-30 00:14] haxxxton commented on #159
@ptitdje45, i created a fork of this repo and did a find and replace for all instances of `$viewContentLoaded` with `$stateChangeSuccess`. It is currently failing on 3 tests as part of the `Breadcrumb directive with multiple-interpolation conf` test
- renders the correct state chain and views content,
- renders the correct state chain and views content, and
- renders the correct state chain and vi

[2016-11-30 08:27] ptitdje45 commented on #159
@haxxxton  Thanks buddy :)

[2016-12-12 15:05] kristofdegrave commented on #170
A possible solution is to use reslove in your route. If you do this you can access the $resolve of the ui-router
[code]

An other option is to use an inner property of angular called $$childHead (which retrieves a child scope)

[code]

[2016-12-13 14:15] ptitdje45 commented on #40
i tried your answer @ncuillery but i got a [$compile:tplrt] Template for directive 'ncyBreadcrumb' must have exactly one root element. breadcrumb.tmpl.html.

Did i miss something ?

[2016-12-18 13:08] akarelas opened #172 "Doesn't work with Angular 1.6 components"
Here's my component:

[code]
});

The breadcrumb on the webpage only says "Home page", it doesn't say "Alexander".

Will this be fixed?

Thanks.

[2016-12-18 13:24] akarelas commented on #170
Thanks @kristofdegrave , both solutions worked on Ang 1.6 components with class definitions.

[2016-12-23 17:11] harshaldhake opened #173 "Angular Material support for BreadCrumb"
Dear,

Could you please let us know in case breadcrumb can be implemented for Angular material?

also do we have any sample doc regarding this?

Thanks,
HArshal

[2016-12-28 17:07] nunof07 commented on #144
Does anyone have a fix for this?

It's common for abstract states to have a default child state set with no URL, so clicking an abstract state would show it.

[2016-12-28 17:24] nunof07 commented on #144
To answer my own question you can do this with a custom template.

Example template (copied from the Bootstrap 3 template):

[code]

The original template has an additional condition in the `ng-switch` for abstract states that I removed here.

And set the template in the config:

[code]

**Note:** This will render a link for ALL abstract states that are in the breadcrumb.

[2016-12-28 17:28] jthn commented on #172
See #170, you can use `$$childHead.$ctrl.name` or use resolve.

[2016-12-28 19:01] akarelas commented on #172
I thought noone was supposed to be using variables that start with double "$", like $$childHead, because they're private to Angular and may change at any time without notice. Am I wrong?

[2017-01-12 17:00] pfeigl opened #174 "Access state's controller scope in breadcrumb template"
Hi,

we have set a custom template for rendering the breadcrumbs. Is it somehow possible to access the controller scope of the state within the template?

Pretty much as you can access the scope in the Label, we would need to access some information from the scope in the template.

Thanks,
Philipp

[2017-01-18 07:41] ptitdje45 commented on #62
@ncuillery  Can you explain where i should use ncyBreadcrumbIgnore i'm a bit lost ..

[2017-01-18 07:51] ptitdje45 commented on #62
Example working here : http://plnkr.co/edit/yeODlzws6gv05tZ7nURd?p=preview

Note that if you are re-using the view somewhere else and you want to display the route. This will not work anymore. So try to find a way to 'true' or 'false' `$scope.ncyBreadcrumbIgnore`.

[code]

[2017-01-20 09:11] blowsie commented on #170
For me `$resolve` is empty. Any ideas why? Where can I debug this?

[code]

[code]

---

### Update

`$resolve.id` works when navigating to the page but not when refreshing.

[2017-01-25 10:26] capesean opened #175 "Bootstrap 4"
Any plans/timeframe for adding Bootstrap 4 templates?

[2017-01-25 10:34] capesean commented on #175
This is the change to the templates I used for Bootstrap4:
[code]

Called with:
[code]

[2017-01-25 10:34] #175 closed, assigned to nobody

[2017-01-26 16:30] mateatslc commented on #157
`ui-sref` style dynamic links seem to be broken currently, not sure if there is anything in the works to fix them...
I came up with a workaround where I default state params using the `$stateParams` service.
I forked your plunker to demonstrate the fix:
http://plnkr.co/edit/8yQlDN8suimQAn0DWmuF?p=preview

[2017-01-26 16:34] mateatslc commented on #121
see if this can help: https://github.com/ncuillery/angular-breadcrumb/issues/157#issuecomment-275435735

[2017-02-01 19:48] douglasg14b commented on #164
Same issue here. Especially concerning when there are some states that do not have defined parents. I was expecting to be able to keep a record of the users navigation.

[2017-02-23 17:45] iveretelnyk commented on #112
2017 and still getting empty labels on page reload.
I'd help, but don't know how.

[2017-03-01 14:20] eyal-magnetic commented on #112
@iveretelnyk see @nbasov 's comment above. Inject $breadcumb service into the run method of your module.

[2017-03-01 15:28] iveretelnyk commented on #112
@eyal-magnetic I tried, in my case it did not help.

[2017-03-10 14:13] YuriMasyanISS opened #176 "Loss of context in breadcrumb labels"
here's my Plunk: [http://plnkr.co/edit/8m2kpi8mtr9jTLF5wI00?p=preview](url)

I have two sibbling (for ui-router) states (state1 and state2).

In state2:  `ncyBreadcrumb: parent: 'state1'`

Both have similar labels: ` ncyBreadcrumb: label: '{{label}}'`

  They have similar controllers like:
`controller: function ($scope) {$scope.label = 'label 1'}`
and
`controller: function ($scope) {$scope.label =

[2017-03-20 03:47] princeofforest opened #177 "TypeError: Cannot read property 'ncyBreadcrumb' of null"
When i try 3 level, the ncy broke down
[code]
[code]

angular-breadcrumb - v0.4.0

please advise! thank you very much

[2017-03-21 12:56] Brenw10 opened #178 "How to send parameter"
I know I can send parameters on Label (something like ```label: '{{scopeVariable}}'```, but I need to send two arguments, how can I send one in Label and other parameter in another key ?
I already tried to get scope variable in template of breadcrumb, however I can't get that.
If I can send parameter like a JSON, it can help me too.
I know when scope variable is not on label key it is not rendered

[2017-05-05 06:21] nhim175 commented on #176
I got the same issue

[2017-05-07 10:07] hannadrehman opened #179 "navigation fails if parent state requires stateparams"
few problems in this module.
1. while using angular components, previous/parent state is dependent on route params. so when you go back to those states the state params are always set to null or removed.
2. in angular components, if you are using dynamic labels from the component controller scope variables, when you move to next state you lose the dynamic label of the parent state.
3.label does no

[2017-06-02 19:24] gleandroj commented on #151
Hi,

I found a way to do this...

Works for me access like:

{{ $root.data }}

Do this in Template File and its works very well!

[2017-06-02 19:25] gleandroj commented on #151
Hi @agam16 ,

I found a way to do this...

Works for me access like:

{{ $root.data }}

Do this in Template File and its works very well!

[2017-06-07 21:45] abhipanda commented on #177
This error comes when you don't have
[code]
in any of your parent states.

[2017-06-12 13:13] jeserkin opened #180 "Expose parameter for label from named view"
I am using `angular-ui-router: '0.2.18'` and latest version of `angular-breadcrumb`.

State label consists of a translation code, that is translated in custom template as suggested here https://github.com/ncuillery/angular-breadcrumb/issues/65 by plugin author.

Translation has got a variable inside, that I would like to replace. The issue is, that the state uses named view and does not have a dir

[2017-06-27 17:39] p0lar-bear commented on #159
What I find strange is that the directive and the service both have `$rootScope` listen for `$viewContentLoaded`, yet the handlers never fire. Yet, when I go into any controller of mine, inject `$rootScope`, and have it listen for the same event (and use `console.log` as the handler), the handler gets fired multiple times.

edit: On closer inspection, `$viewContentLoaded` is getting fired off long

[2017-06-28 00:10] haxxxton commented on #159
@p0lar-bear did you have a go using my suggested change of `$stateChangeSuccess`? it might be nice to see if that is a viable solution in other people's implementations

[2017-06-28 18:29] staffler-xyz opened #181 "Dynamic breadcrumbs not showing on reload with ui-router 1.0.4"
There is a problem when using dynamic breadcrumbs from resolve values:

[code]
This is not compatible with the latest ui-router 1.0.4. With ui-router 0.4.2 everything works fine (not tested with other versions).

Maybe something changed with "viewContentLoaded"?

[2017-06-29 15:22] learnangular2 commented on #177
I  also got this error and it was because of a missing configuration  -

.config(['$breadcrumbProvider',function($breadcrumbProvider){
        	$breadcrumbProvider.setOptions({
        		prefixStateName:'home'

        	});
	 }])

[2017-06-29 15:24] learnangular2 commented on #177
This may not be applicable to the scenario explained above, but in case someone else run in to the same issue.

[2017-06-29 17:08] p0lar-bear commented on #159
In my case, it wouldn't have done anything. It doesn't seem like `$stateChangeSuccess` is fired when the app is first loaded and the initial state is determined.

I will keep this in mind for once my app's states are properly defined, though.

Also, I think it's prudent to call attention to the fact that these state change events [were deprecated with ui-router v1.0](https://github.com/angular-ui/

[2017-06-29 17:13] p0lar-bear opened #182 "Update to use transition hook API instead of state change events"
As I said in #159:

If I can find the time I could look into making these changes myself, I'll do so and submit a pull request, but at the moment my hands are tied and can't do much more than call attention to and whine about it.

[2017-07-26 10:34] nmarcetic commented on #157
@mateatslc  Not working on page refresh.

[2017-09-13 13:20] valikonen commented on #152
You solve this problem?

[2017-12-06 15:02] jmichaud-ips opened #186 "Angular 2 version?"
Is there already an Angular 2 version of this, or are there plans to make an Angular 2+ version?

[2017-12-06 19:57] tonestrike commented on #170
@blowsie did you figure out a solution to your problem?

[2017-12-11 11:43] blowsie commented on #170
@tonestrike yes, my solution was to access `$transition$.params()` instead.

[code]

[2017-12-11 13:34] tonestrike commented on #170
Thanks! I used a much more janky way to solve this problem. This is helpful.

[2017-12-11 13:44] biltongza commented on #170
@blowsie I'm using the solution from here https://github.com/ncuillery/angular-breadcrumb/issues/42#issuecomment-58029308 to fix it. I don't know how or why it works, but it works.

This is literally my run block:

    angular.module(moduleName)
        .run(['$breadcrumb', function ($breadcrumb) { }]);

[2017-12-12 12:11] blowsie commented on #170
@biltongza yep, thanks I already had this in my config too, usefeull for @tonestrike  to know.

[2017-12-12 14:46] tonestrike commented on #170
Oh awesome! Thank you both.

[2017-12-19 06:30] soumyart commented on #107
@go4varuntyagi : I tried `$state.current.ncyBreadcrumbLabel = 'Custom lebel'` instead of `$state.current.ncyBreadcrumb.label = 'Your custom breadcrumb here'`  and it worked.

[2017-12-19 06:57] soumyart commented on #107
@go4varuntyagi : I used both
[code]
Instead of only `$state.current.ncyBreadcrumb.label = 'Your custom breadcrumb here'` and it worked.

[2018-01-15 12:45] soumyart opened #187 "Unable to access $resolve for some components"
Followed the approach described in #170 . But the $resolve is not getting resolved for some of the child state. While debugging found that for that particular state watcher is getting called twice and first one has the `$resolve` property while the second one doesn't have. Due to the order of calling `$lastViewScope` is getting updated with the later one which doesn't have any $resolve.

#### Deta

[2018-01-19 07:20] MrSpark2591 commented on #48
This works for me.
[code]

[2018-02-06 13:42] flaviocolonnascytl opened #188 "Dropdown element as Breadcrumb step"
In my team we were facing a limitation about adding a dropdown with ui-sref links inside the breadcrumb html.
We achieved the goal to inject custom HTML, as described in the README, using the $breadcrumbProvider options.
But we weren't able to create the links for the dropdown like ncyBreadcrumbLink without touching the code of the library.
So, we had to add a small code in order to map the links,

[2018-03-30 08:46] forgetThePast opened #190 "how to set ncyBreadcrumbLink"
Frist I am new，I try to change ncyBreadcrumbLink ，because my leader dont want to  going back pages

[2018-05-05 14:02] yarhouse commented on #172
I came here previously looking for a solution, but have since figured out a workaround for my specific usage and wanted to share it with the next person who comes here looking for help as well.

Having the non-linear parent crumb is an important feature for my use case. For any route that needs a breadcrumb, create a parent state with a standard $scoped controller that `redirectTo` its child view

[2018-06-07 12:21] atefBB commented on #178
@Brenw10 Same issue here!
Any ideas?!

[2018-06-07 12:30] atefBB commented on #151
@gleandroj Thanks. Work fine !

[2018-09-21 15:34] ecohort commented on #190
Hi,
You can try with parent: 'state.name'

Regards

[2018-10-26 12:49] JuDev3 commented on #159
I thing I have the same problem.
For example, I have the breadcrum navigation : a > b > c
a is the parent of b, b the parent of c
Each state (a, b and c) have their own View and Controller.
When a user navigate from a to b the Controller of b is triggered correctly. Same thing from b to c
But when a user navigate from c to b, the Controller of b is never triggered.

@haxxxton I've tried 2 things :

[2020-03-30 01:03] #143 closed

[2020-05-01 16:37] joannadal commented on #72
I am not sure if you still have the problem @TheCodeDestroyer but I found a solution. You just have to use this line for the tag `<a>` on the breadcrumbs template:

`<a ng-switch-when="false" href="{{step.ncyBreadcrumbLink}}" ui-sref="{{ step.ncyBreadcrumbStateRef }}" ui-sref-opts="{reload: true, absolute: true}" ng-bind-html="step.ncyBreadcrumbLabel"></a>`

The key is use the value of `step.ncyBr

[2021-03-06 13:06] jasbirquoality commented on #109
Hi, devs you can use a similar method like an event.preventDefault() method (in react ). Hope this helps.

My breadcrumb: (In my case, I want the breadcrumb '3' to be unclickable.)

const handleBreadcrumbClick = (event) => {
    if(event.target.name === '3')
    event.preventDefault()
  }

<Breadcrumb.Item key={index.toString()} name={index.toString()} onClick={handleBreadcrumbClick} href={`/${int

[2021-07-17 09:59] #113 closed